<img src="https://ghfkgfdhkgdkgdhg.s3.eu-north-1.amazonaws.com/logo.png"><br>
Dear {{ username }},<br>
We have received a request to reset your Translation Portal password. If you did not make the request, please delete this email. Password will not be changed if you do not proceed.

<a href="{{ reset_password_absolute_uri }}"> Reset password</a>
You may also reset your password by pasting this link into your browser: <a href="{{ reset_password_absolute_uri }}">{{ reset_password_absolute_uri }}</a>

Need help? Contact us at {{ support_email }}
