<img src="https://ghfkgfdhkgdkgdhg.s3.eu-north-1.amazonaws.com/logo.png"><br>
Dear {{ username }},<br>
We have received a request to reset your Translation Portal password. If you did not make the request, please delete this email. Password will not be changed if you do not proceed.<br>

<p><a style="padding: 10px 26px;background: #176C77;text-decoration: unset;text-align: center;border-radius: 4px; color: white;font-size: 16px;font-weight: 600;line-height: 20px;" href="{{ reset_password_absolute_uri }}"> Reset password</a></p><br>
You may also reset your password by pasting this link into your browser: <a href="{{ reset_password_absolute_uri }}">{{ reset_password_absolute_uri }}</a><br>

Need help? Contact us at {{ support_email }}
