<style>
    * {
        font-family: Arial, sans-serif;
        font-size: 10px;
        color: #0F3144;
    }
</style>
<p>Cher {{ username }},</p>
<p>Vous avez demandé la réinitialisation de votre mot de passe Lexa.</p>

<p>Veuillez cliquer sur le bouton ci-après : <a style="padding: 10px 26px;background: #176C77;text-decoration: unset;text-align: center;border-radius: 4px; color: white;font-size: 16px;font-weight: 600;line-height: 20px;" href="{{ reset_password_absolute_uri }}"> Réinitialiser</a></p>

<p>Si le bouton ne fonctionne, utilisez le lien suivant :</p>
<a href="{{ reset_password_absolute_uri }}">{{ reset_password_absolute_uri }}</a>

<p>Si vous n’êtes pas à l’origine de cette demande vous pouvez ignorer cet e-mail. Votre mot de passe ne sera pas réinitialisé.</p>
<p>Vous avez besoin d’aide ? Contactez-nous à support@lexamt.com et nous vous répondrons dans les plus brefs délais.</p><br>

<p>L’équipe Lexa</p>

<img width="120" height="40" src="https://s3fileprocessinglogos.s3.eu-north-1.amazonaws.com/lexa.jpg" alt="logo">