{% load static %}
<style>
    * {
        font-family: Arial, sans-serif;
        font-size: 10px;
        color: #0F3144;
    }
</style>
<p>Cher utilisateur,</p>
<p>Vous avez reçu une invitation à rejoindre Lexa.</p>
<p>Pour vous inscrire, cliquez sur le bouton ci-après:<a style="padding: 10px 26px;background: #176C77;text-decoration: unset;text-align: center;border-radius: 2px; color: white;font-weight: 600;line-height: 14px;" href="{{ register_user_absolute_uri }}" >S’inscrire</a></p><br>
<p>Si le bouton ne fonctionne, utilisez le lien suivant :</p>
<a href="{{ register_user_absolute_uri }}">{{ register_user_absolute_uri }}</a>

<p>Si vous avez reçu ce mail par erreur, vous pouvez l’ignorer.</p><br>
<p>Bienvenue à vous !</p>
<p>L’équipe Lexa</p>
<img width="120" height="40" src="https://s3fileprocessinglogos.s3.eu-north-1.amazonaws.com/lexa.jpg" alt="logo">