{% load static %}

<div class="step-3 hidden flex justify-between">
    <div class="flex-1">
        <span class="text-4 text-gray-800 font-semibold">Domains</span>
        <div class="flex flex-wrap mt-5 gap-2.5">
            <button type="button" class="text-3.5 py-3 px-7.5 bg-gray-200 text-gray-400 hover:bg-green-700 hover:text-white rounded-md focus:text-white focus:bg-green-700">
                Dispute
            </button>
            <button type="button" class="text-3.5 py-3 px-7.5 bg-gray-200 text-gray-400 hover:bg-green-700 hover:text-white rounded-md focus:text-white focus:bg-green-700">
                Tax
            </button>
            <button type="button" class="text-3.5 py-3 px-7.5 bg-gray-200 text-gray-400 hover:bg-green-700 hover:text-white rounded-md focus:text-white focus:bg-green-700">
                Dispute
            </button>
            <button type="button" class="text-3.5 py-3 px-7.5 bg-gray-200 text-gray-400 hover:bg-green-700 hover:text-white rounded-md focus:text-white focus:bg-green-700">
                Social
            </button>
            <button type="button" class="text-3.5 py-3 px-7.5 bg-gray-200 text-gray-400 hover:bg-green-700 hover:text-white rounded-md focus:text-white focus:bg-green-700">
                Real estate
            </button>
        </div>
    </div>
    <div class="flex-1">
        <span class="text-4 text-gray-800 font-semibold">Sub-Domains</span>
        <div class="flex flex-wrap mt-5 gap-2.5">
            <button type="button" class="text-3.5 py-3 px-7.5 bg-gray-200 text-gray-400 hover:bg-green-700 hover:text-white rounded-md focus:text-white focus:bg-green-700">
                Generic
            </button>
            <button type="button" class="text-3.5 py-3 px-7.5 bg-gray-200 text-gray-400 hover:bg-green-700 hover:text-white rounded-md focus:text-white focus:bg-green-700">
                Dispute
            </button>
            <button type="button" class="text-3.5 py-3 px-7.5 bg-gray-200 text-gray-400 hover:bg-green-700 hover:text-white rounded-md focus:text-white focus:bg-green-700">
                Dispute
            </button>
            <button type="button" class="text-3.5 py-3 px-7.5 bg-gray-200 text-gray-400 hover:bg-green-700 hover:text-white rounded-md focus:text-white focus:bg-green-700">
                Audience
            </button>
        </div>
    </div>
</div>
