{% load static %}

<div class="step-4 hidden">
    <div class="flex items-center w-full justify-between">
        <span class="text-4 text-gray-800 font-semibold">Terminology</span>
        <a href="#" class="text-3 text-green-700">+ Add glossary</a>
    </div>
    <div class="flex items-center mt-5">
        <button type="button" class="px-5 py-3 text-3.5 bg-gray-200 text-gray-400 rounded-l-md hover:bg-gray-800 hover:text-white focus:bg-gray-800 focus:text-white">
            Default
        </button>
        <button type="button" class="px-5 py-3 text-3.5 bg-gray-200 text-gray-400 hover:bg-gray-800 hover:text-white focus:bg-gray-800 focus:text-white">
            My glossaries
        </button>
        <button type="button" class="px-5 py-3 text-3.5 bg-gray-200 text-gray-400 rounded-r-md hover:bg-gray-800 hover:text-white focus:bg-gray-800 focus:text-white">
            No glossary
        </button>
    </div>
    <div class="flex flex-wrap gap-2.5 mt-5 glossary-list">

    </div>
</div>
