SECRET_KEY=
OPENAI_GPT_API_KEY=
SENDGRID_API_KEY=
GLOSSARY_API_KEY=
GLOSSARY_SYSTEM=

CLOUDSTORAGE_API_URL=

# Active Trail Configuration
ACTIVE_TRAIL_SENDING_PROFILE_ID=
ACTIVE_TRAIL_USER_PROFILE_FROMNAME=
ACTIVE_TRAIL_API_KEY=

# Stripe Configuration
STRIPE_WEBHOOK_SECRET=
STRIPE_API_KEY=