SECRET_KEY=
# OPENAI_GPT_API_KEY=
# SENDGRID_API_KEY=

# Cloud Storage API Configuration - DÉSACTIVÉ
# CLOUDSTORAGE_API_URL=
# CLOUDSTORAGE_API_KEY=

# Active Trail Configuration
ACTIVE_TRAIL_SENDING_PROFILE_ID=
ACTIVE_TRAIL_USER_PROFILE_FROMNAME=
ACTIVE_TRAIL_API_KEY=

# Stripe Configuration
STRIPE_WEBHOOK_SECRET=
STRIPE_API_KEY=

# Statistics Service Configuration
STATS_API_URL=
STATS_API_KEY=

# Email Configuration
SENDER_EMAIL=
QUOTE_CC_EMAIL=
SUPPORT_EMAIL=

# Custom MT Console Configuration
CUSTOM_MT_CONSOLE_URL=

# Django Security Configuration
ALLOWED_HOSTS=

# Django Debug Configuration
DEBUG=

MINIMUM_QUOTE_AMOUNT=60