<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>Legal230</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- STYLES -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- TAILWINDCSS -->
    <script>
        const generateTailwindSizes = () => {
            const sizes = {};
            for (let px = 0; px <= 2000; px++) {
                const tailwindName = (px / 4);
                const remValue = (px / 16).toFixed(3);
                sizes[tailwindName] = `${remValue}rem`;
            }
            return sizes;
        }

        tailwind.config = {
            experimental: {
                optimizeUniversalDefaults: true
            },
            theme: {
                extend: {
                    screens: {
                        'xs': '320px',
                        'sm': '576px',
                        'md': '768px',
                        'lg': '1024px',
                        'xl': '1280px',
                        '2xl': '1536px',
                        '3xl': '1920px',
                    },
                    fontFamily: {
                        'montserrat': ['Montserrat', 'sans-serif'],
                    },
                    colors: {
                        gray: {
                            25: '#F8F9FA',
                            50: '#F5F7F7',
                            60: '#EFEFEF',
                            75: '#EAF0F6',
                            100: '#F2F3F5',
                            125: '#EBEFF0',
                            150: '#EAECEE',
                            175: '#EAECED',
                            200: '#E4E8EA',
                            225: '#D5DADE',
                            250: '#D9D9D9',
                            275: '#CFD5D9',
                            300: '#CAD1D6',
                            325: '#CACACA',
                            350: '#AFB9C1',
                            375: '#AAB4BD',
                            400: '#9EAAB3',
                            425: '#808E9B',
                            475: '#7A8B98',
                            480: '#6C767D',
                            500: '#556A7B',
                            525: '#566B79',
                            550: '#2A4459',
                            575: '#2B4459',
                            600: '#0F3144',
                        },
                        green: {
                            50: '#E6F8F6',
                            100: '#E8F0F1',
                            150: '#E7F0F1',
                            200: '#DFEAEC',
                            225: '#C4D6D7',
                            250: '#B9D3D6',
                            300: '#00BBA7',
                            350: '#74A7AD',
                            400: '#176C77',
                            450: '#346C77',
                            500: '#156D77',
                            700: '#2F9D6F',
                        },
                        red: {
                            100: '#FFEFEF',
                            150: '#FFF7F7',
                            200: '#FFE0DF',
                            400: '#FD625E',
                        },
                        yellow: {
                            100: '#FCF9ED',
                            400: '#D4A600',
                        },
                        blue: {
                            100: '#E9F4FF',
                            400: '#1E90FF',
                        },
                    },
                    fontSize: generateTailwindSizes(),
                    width: generateTailwindSizes(),
                    maxWidth: generateTailwindSizes(),
                    height: generateTailwindSizes(),
                    padding: generateTailwindSizes(),
                    margin: generateTailwindSizes(),
                    inset: generateTailwindSizes(),
                    spacing: generateTailwindSizes(),
                    borderRadius: generateTailwindSizes(),
                    borderWidth: generateTailwindSizes(),
                    divideWidth: generateTailwindSizes(),
                    gap: generateTailwindSizes(),
                }
            }
        }
    </script>
</head>
<body>
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <form method="post" action="{% url 'forgot-password' %}" autocomplete="off"
          class="flex flex-col bg-white shadow-lg py-17.5 px-32.5 rounded-5">
        <h2 class="text-6 font-bold mb-2.5 text-center">RESET YOUR PASSWORD</h2>
        <p class="mb-6 text-base text-gray-600 font-medium leading-relaxed text-center w-100">
            Don't worry, we've got your back! Just enter your email address and we’ll send you a link to reset your password.</p>
        {% csrf_token %}
        <input
                type="email"
                placeholder="Email"
                id="email"
                name="email"
                required
                class="mb-5 w-100 bg-gray-75 px-3.5 py-3.5 border border-none rounded-2.5 focus:outline-none focus:ring focus:ring-none">
        <button
                type="submit"
                class="mb-5 font-semibold bg-green-700 py-2 text-4 text-white rounded-7 hover:bg-gray-600 duration-300 ease-in-out">
            Submit
        </button>
        <div class="flex justify-center items-center font-medium">
            <span class="text-4 mr-1">Return to </span> <a href="{% url 'login' %}" class="text-4 text-green-700">Sign
            in</a>
        </div>
    </form>
</div>


<script src="{% static 'js/authorization.js' %}"></script>

</body>
</html>
