<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
</head>
<body>
<form method="post" action="{% url 'forgot-password' %}">
    {% csrf_token %}
    <input type="email" name="email" id="email" placeholder="Enter email">
    <button type="submit">Receive code</button>
    <input type="hidden" name="action" id="action" value="receive_code">
</form>

<form method="post">
    {% csrf_token %}
    <input type="email" name="email" id="email" placeholder="Enter email">
    <input type="password" name="new_password" id="new_password" placeholder="Enter new password">
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password">
    <input type="number" name="code" id="code", placeholder="Enter your code from email">
    <input type="hidden" name="action" id="action" value="set_new_password">
    <button type="submit">Set new password</button>
</form>

</body>
</html>