<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="email" name="email" id="email" {% if email %} value="{{ email }}" {% endif %} placeholder="Enter your email">
    <input type="text" name="username" id="username" placeholder="Enter username">
    <input type="password" name="password" id="password" placeholder="Enter your password">
    <input type="password" name="confirm_password"  id="confirm_password"  placeholder="Confirm password">
    <input type="hidden" name="group" id="group" {% if group %} value="{{ group }}"{% endif %}>
    <button type="submit">Register</button>
</form>

</body>
</html>