{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Set a new password" %}{% endblock %}

{% block auth_form %}
<form name="reset-password" method="post" action="{% url 'reset-password' %}" autocomplete="off"
      class="flex flex-col bg-white shadow-lg py-17.5 px-32.5 rounded-5">
    {% trans "Set a new password" as reset_password_title %}
    <h2 class="text-6 font-bold mb-2.5 text-center">{{ reset_password_title|upper }}</h2>
    {% csrf_token %}
    <input type="hidden" name="email" id="email" {% if email %}value="{{ email }}"{% endif %}>
    <input
            type="password"
            placeholder="{% trans 'Set a new password' %}"
            id="password"
            name="password"
            required
            class="min-w-100 text-3.5 bg-gray-75 px-3.5 py-3.5 border rounded-2.5 focus:outline-none focus:ring focus:ring-none">
    <p class="error-message text-red-400 text-3 mt-2.5 hidden"></p>
    <button
            type="submit"
            class="my-5 font-semibold bg-green-700 py-2 text-4 text-white rounded-7 hover:bg-gray-600 duration-300 ease-in-out">
        {% trans "Set a new password" %}
    </button>
</form>
{% endblock %}
