{% load i18n %}
{% load static %}

<ul class="flex flex-row {% if align == 'center' %}items-center justify-center{% else %}items-start justify-start{% endif %} w-full mb-8">
    <li class="flex items-center">
        <div class="flex items-center mr-2 w-54 mr-4 rounded-lg bg-blue-50 pl-4 py-2">
            <input id="type-competition" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="type-competition" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 flex h-8 items-center">
                {% include 'svg/icons/lightning.svg' %}
                <span class="font-base ml-4">
                                {% trans 'Competition' %}
                            </span>
            </label>
        </div>
    </li>
    <li class="flex items-center">
        <div class="flex items-center mr-2 w-54 mr-4 rounded-lg pl-4 py-2">
            <input id="type-contracts" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="type-contracts" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 flex h-8 items-center">
                {% include 'svg/icons/contracts.svg' %}
                <span class="font-base ml-4">
                                {% trans 'Contracts' %}
                            </span>
            </label>
        </div>
    </li>
    <li class="flex items-center">
        <div class="flex items-center mr-2 w-54 mr-4 rounded-lg pl-4 py-2">
            <input id="type-customs" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="type-customs" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 flex h-8 items-center">
                {% include 'svg/icons/customs.svg' %}
                <span class="font-base ml-4">
                                {% trans 'Customs' %}
                            </span>
            </label>
        </div>
    </li>
</ul>
<div class="flex flex-col {% if align == 'center' %}align-center text-center{% else %}align-start text-start{% endif %}">
    <div class="flex {% if align == 'center' %}items-center justify-center{% else %}items-start justify-start{% endif %}">
        <!--
        @TODO : dynamiser les images ISO - 04/09/2025
        -->
        <img src="{% static 'images/certifications/certified_iso_9001.png' %}" class="px-2 h-14" alt="certified" />
        <img src="{% static 'images/certifications/certified_iso_9001.png' %}" class="px-2 h-14" alt="certified" />
        <img src="{% static 'images/certifications/certified_iso_27001.png' %}" class="px-2 h-14" alt="certified" />
        <img src="{% static 'images/certifications/star_certification.png' %}" class="px-2 h-14" alt="certified" />
        <img src="{% static 'images/certifications/certified_aicpa_soc.png' %}" class="px-2 h-14" alt="certified" />
        <img src="{% static 'images/certifications/certified_plus.png' %}" class="px-2 h-14" alt="certified" />
    </div>
    <p class="block font-poppins text-sm font-normal text-gray-600 leading-5 tracking-[-0.084px] mt-8">
        {% trans 'Example of free text explaining the specialization and certifications below in several paragraphs.' %}
    </p>
</div>
