<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>Legal230</title>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- JQUERY -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <!-- SELECT -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- FORMATTING TEXT -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <!-- PHOSPHORE ICONS -->
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <!-- STYLES -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main-figma.css' %}"rel="stylesheet" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link href="{% static 'legal/css/subscription_tag.css' %}" rel="stylesheet" />
    <link href="{% static 'legal/css/header.css' %}" rel="stylesheet" />
    <link href="{% static 'legal/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'legal/css/toast.css' %}" rel="stylesheet" />

    {% block extra_css %}{% endblock %}

    <!-- TAILWINDCSS -->
    <script>
        const generateTailwindSizes = () => {
            const sizes = {};
            for (let px = 0; px <= 2000; px++) {
                const tailwindName = (px / 4);
                const remValue = (px / 16).toFixed(3);
                sizes[tailwindName] = `${remValue}rem`;
            }
            return sizes;
        }

        tailwind.config = {
            theme: {
                extend: {
                    screens: {
                        'xs': '320px',
                        'sm': '576px',
                        'md': '768px',
                        'lg': '1024px',
                        'xl': '1280px',
                        '2xl': '1536px',
                        '3xl': '1920px',
                    },
                    fontFamily: {
                        'montserrat': ['Montserrat', 'sans-serif'],
                        'poppins': ['Poppins', 'sans-serif'],
                    },
                    backdropBlur: {
                        custom: '20px',
                    },
                    colors: {
                        transparentWhite: {
                            100: '#FFFFFF',
                            90: '#FFFFFF',
                            80: '#FFFFFF',
                            70: '#FFFFFF',
                            60: '#FFFFFF',
                            50: '#FFFFFF',
                            40: '#FFFFFF',
                            35: '#FFFFFF',
                            30: '#FFFFFF',
                            25: '#FFFFFF',
                            20: '#FFFFFF',
                            15: '#FFFFFF',
                            10: '#FFFFFF',
                            5: '#FFFFFF',
                            3: '#FFFFFF',
                        },
                        transparentBlack: {
                            100: '#000000',
                            90: '#000000',
                            80: '#000000',
                            70: '#000000',
                            60: '#000000',
                            50: '#000000',
                            40: '#000000',
                            35: '#000000',
                            30: '#000000',
                            25: '#000000',
                            20: '#000000',
                            15: '#000000',
                            10: '#000000',
                            5: '#000000',
                            3: '#000000',
                        },
                        gray: {
                            950: '#030712',
                            900: '#181932',
                            800: '#1f2937',
                            700: '#374151',
                            600: '#4b5563',
                            500: '#6b7280',
                            400: '#9ca3af',
                            300: '#b9bfcb',
                            200: '#dedede',
                            100: '#ecedee',
                            50: '#f9fafb',
                        },
                        green: {
                            950: '#052e16',
                            900: '#14532d',
                            800: '#166534',
                            700: '#15803d',
                            600: '#16a34a',
                            500: '#22c55e',
                            400: '#4ade80',
                            300: '#86efac',
                            200: '#dcfce7',
                            100: '#dcfce7',
                            50: '#f0fdf4',
                        },
                        amber: {
                            950: '#451a03',
                            900: '#78350f',
                            800: '#92400e',
                            700: '#b45309',
                            600: '#d97706',
                            500: '#f59e0b',
                            400: '#fbbf24',
                            300: '#fcd34d',
                            200: '#fde68a',
                            100: '#fef3c7',
                            50: '#fffbeb',
                        },
                        red: {
                            950: '#450a0a',
                            900: '#7f1d1d',
                            800: '#991b1b',
                            700: '#b91c1c',
                            600: '#dc2626',
                            500: '#ef4444',
                            400: '#f87171',
                            300: '#fca5a5',
                            200: '#fecaca',
                            100: '#fee2e2',
                            50: '#fef2f2',
                        },
                        blue: {
                            950: '#172554',
                            900: '#1e3a8a',
                            800: '#1e40af',
                            700: '#1d4ed8',
                            600: '#2563eb',
                            500: '#3b82f6',
                            400: '#60a5fa',
                            300: '#93c5fd',
                            200: '#bfdbfe',
                            100: '#dbeafe',
                            50: '#eff6ff',
                        },
                        teal: {
                            950: '#042f2e',
                            900: '#134e4a',
                            800: '#115e59',
                            700: '#0f766e',
                            600: '#0d9488',
                            500: '#14b8a6',
                            400: '#2dd4bf',
                            300: '#5eead4',
                            200: '#99f6e4',
                            100: '#ccfbf1',
                            50: '#f0fdfa',
                        },
                        violet: {
                            950: '#2e1065',
                            900: '#4c1d95',
                            800: '#5b21b6',
                            700: '#6d28d9',
                            600: '#7c3aed',
                            500: '#8b5cf6',
                            400: '#a78bfa',
                            300: '#c4b5fd',
                            200: '#ddd6fe',
                            100: '#ede9fe',
                            50: '#f5f3ff',
                        },
                    },
                    fontSize: generateTailwindSizes(),
                    width: generateTailwindSizes(),
                    maxWidth: generateTailwindSizes(),
                    height: generateTailwindSizes(),
                    padding: generateTailwindSizes(),
                    margin: generateTailwindSizes(),
                    inset: generateTailwindSizes(),
                    spacing: generateTailwindSizes(),
                    borderRadius: generateTailwindSizes(),
                    borderWidth: generateTailwindSizes(),
                    divideWidth: generateTailwindSizes(),
                    gap: generateTailwindSizes(),
                }
            }
        }
    </script>
</head>

<body class="font-poppins font-medium">

<div class="flex h-screen overflow-hidden relative">
    <!-- Sidebar -->
    <div class="scrollbar-hide">
        {% include 'sidebar/sidbar.html' %}
    </div>

    <!-- Main content -->
    <div class="flex-1 flex flex-col overflow-hidden bg-gray-60 ml-22 min-h-0">
        <!-- Header -->
        {% include 'header/header.html' %}

        <!-- Scrollable content -->
        <main class="flex-1 overflow-y-auto relative mt-14 bg-gray-50 min-h-0" style="height: calc(100vh - 3.5rem);">
            <div id="main-loader" class="absolute inset-0 bg-gray-500 bg-opacity-50 hidden flex items-center justify-center z-50">
                <div class="bg-white rounded-lg p-8 flex flex-col items-center shadow-lg">
                    <span class="loader mb-4"></span>
                    <p class="text-gray-700">Processing request...</p>
                </div>
            </div>
            {% block content %}
            <!-- Page content -->
            {% endblock %}
        </main>
    </div>

</div>

<script src="{% static 'js/get-cookie.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'legal/js/toast.js' %}"></script>
<script src="{% static 'legal/js/header.js' %}"></script>
<script src="{% static 'legal/js/sidebar.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>

<script>
    var language_code = "{{ request.LANGUAGE_CODE }}"
    
    // Messages traduits pour le système de toast
    window.toastMessages = {
        close: "{% trans 'Close' %}"
    };
</script>

{% block extra_js %} {% endblock %}
</body>
</html>
