<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>Legal230</title>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- SELECT -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- STYLES-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <script>
        const generateTailwindSizes = () => {
            const sizes = {};
            for (let px = 0; px <= 2000; px++) {
                const tailwindName = (px / 4);
                const remValue = (px / 16).toFixed(3);
                sizes[tailwindName] = `${remValue}rem`;
            }
            return sizes;
        }

        tailwind.config = {
            theme: {
                extend: {
                    screens: {
                        'xs': '320px',
                        'sm': '576px',
                        'md': '768px',
                        'lg': '1024px',
                        'xl': '1280px',
                        '2xl': '1536px',
                        '3xl': '1920px',
                    },
                    fontFamily: {
                        'montserrat': ['Montserrat', 'sans-serif'],
                    },
                    colors: {
                        gray: {
                            100: '#F4F6F7',
                            120: '#EBEFF0',
                            150: '#F5F7F7',
                            160: '#F2F3F5',
                            170: '#E4E8EA',
                            200: '#EAECED',
                            250: '#CACACA',
                            270: '#AFB9C1',
                            300: '#D5DADE',
                            350: '#F8F9FA',
                            400: '#AAB4BD',
                            450: '#9EAAB3',
                            500: '#808E9B',
                            550: '#7A8B98',
                            600: '#556A7B',
                            700: '#2A4459',
                            750: '#2B4459',
                            800: '#0D2B40',
                        },
                        green: {
                            100: '#F3F8F8',
                            200: '#E7F0F1',
                            250: '#DFEAEC',
                            270: '#B9D3D6',
                            300: '#D1E2E3',
                            350: '#E8F0F1',
                            370: '#E6F8F6',
                            400: '#A1C4C9',
                            500: '#74A6AC',
                            600: '#458993',
                            650: '#176C77',
                            670: '#346C77',
                            700: '#156D77',
                            750: '#00BBA7',
                        },
                        red: {
                            100: '#FFEFEF',
                            200: '#FFE0DF',
                            400: '#FD625E',
                        },
                        yellow: {
                            100: '#FCF9ED',
                            400: '#D4A600',
                        },
                        blue: {
                            100: '#E9F4FF',
                            400: '#1E90FF',
                        },
                    },
                    fontSize: generateTailwindSizes(),
                    width: generateTailwindSizes(),
                    maxWidth: generateTailwindSizes(),
                    height: generateTailwindSizes(),
                    padding: generateTailwindSizes(),
                    margin: generateTailwindSizes(),
                    inset: generateTailwindSizes(),
                    spacing: generateTailwindSizes(),
                    borderRadius: generateTailwindSizes(),
                    borderWidth: generateTailwindSizes(),
                    divideWidth: generateTailwindSizes(),
                    gap: generateTailwindSizes(),
                }
            }
        }
    </script>
</head>
<body class="font-montserrat font-medium">
<div class="flex h-screen overflow-hidden">
    <!-- Sidebar -->
    <div class="flex-shrink-0">
        {% include 'sidebar.html' %}
    </div>

    <!-- Main content -->
    <div class="flex-1 flex flex-col overflow-hidden">
        <!-- Header -->
        {% include 'header.html' %}

        <!-- Scrollable content -->
        <main class="flex-1 overflow-y-auto">
            {% block content %}
            <!-- Page content -->
            {% endblock %}
        </main>
    </div>
</div>

<script src="{% static 'js/get-cookie.js' %}"></script>

{% block extra_js %} {% endblock %}
</body>
</html>
