<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>Legal230</title>
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- JQUERY -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <!-- SELECT -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- FORMATTING TEXT -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <!-- PHOSPHORE ICONS -->
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <!-- STYLES -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main-figma.css' %}"rel="stylesheet" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <link href="{% static 'legal/css/header.css' %}" rel="stylesheet" />
    <link href="{% static 'legal/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'legal/css/toast.css' %}" rel="stylesheet" />

    {% block extra_css %}{% endblock %}

    <!-- TAILWINDCSS -->
    <script>
        const generateTailwindSizes = () => {
            const sizes = {};
            for (let px = 0; px <= 2000; px++) {
                const tailwindName = (px / 4);
                const remValue = (px / 16).toFixed(3);
                sizes[tailwindName] = `${remValue}rem`;
            }
            return sizes;
        }

        tailwind.config = {
            theme: {
                extend: {
                    screens: {
                        'xs': '320px',
                        'sm': '576px',
                        'md': '768px',
                        'lg': '1024px',
                        'xl': '1280px',
                        '2xl': '1536px',
                        '3xl': '1920px',
                    },
                    fontFamily: {
                        'montserrat': ['Montserrat', 'sans-serif'],
                        'poppins': ['Poppins', 'sans-serif'],
                    },
                    backdropBlur: {
                        custom: '20px',
                    },
                    colors: {
                        transparentWhite: {
                            100: '#FFFFFF',
                            90: '#FFFFFF',
                            80: '#FFFFFF',
                            70: '#FFFFFF',
                            60: '#FFFFFF',
                            50: '#FFFFFF',
                            40: '#FFFFFF',
                            35: '#FFFFFF',
                            30: '#FFFFFF',
                            25: '#FFFFFF',
                            20: '#FFFFFF',
                            15: '#FFFFFF',
                            10: '#FFFFFF',
                            5: '#FFFFFF',
                            3: '#FFFFFF',
                        },
                        transparentBlack: {
                            100: '#000000',
                            90: '#000000',
                            80: '#000000',
                            70: '#000000',
                            60: '#000000',
                            50: '#000000',
                            40: '#000000',
                            35: '#000000',
                            30: '#000000',
                            25: '#000000',
                            20: '#000000',
                            15: '#000000',
                            10: '#000000',
                            5: '#000000',
                            3: '#000000',
                        },
                        gray: {
                            950: '#030712',
                            900: '#181932',
                            800: '#1f2937',
                            700: '#374151',
                            600: '#4b5563',
                            500: '#6b7280',
                            400: '#9ca3af',
                            300: '#b9bfcb',
                            200: '#dedede',
                            100: '#ecedee',
                            50: '#f9fafb',
                        },
                        green: {
                            950: '#052e16',
                            900: '#14532d',
                            800: '#166534',
                            700: '#15803d',
                            600: '#16a34a',
                            500: '#22c55e',
                            400: '#4ade80',
                            300: '#86efac',
                            200: '#dcfce7',
                            100: '#dcfce7',
                            50: '#f0fdf4',
                        },
                        amber: {
                            950: '#451a03',
                            900: '#78350f',
                            800: '#92400e',
                            700: '#b45309',
                            600: '#d97706',
                            500: '#f59e0b',
                            400: '#fbbf24',
                            300: '#fcd34d',
                            200: '#fde68a',
                            100: '#fef3c7',
                            50: '#fffbeb',
                        },
                        red: {
                            950: '#450a0a',
                            900: '#7f1d1d',
                            800: '#991b1b',
                            700: '#b91c1c',
                            600: '#dc2626',
                            500: '#ef4444',
                            400: '#f87171',
                            300: '#fca5a5',
                            200: '#fecaca',
                            100: '#fee2e2',
                            50: '#fef2f2',
                        },
                        blue: {
                            950: '#172554',
                            900: '#1e3a8a',
                            800: '#1e40af',
                            700: '#1d4ed8',
                            600: '#2563eb',
                            500: '#3b82f6',
                            400: '#60a5fa',
                            300: '#93c5fd',
                            200: '#bfdbfe',
                            100: '#dbeafe',
                            50: '#eff6ff',
                        },
                        teal: {
                            950: '#042f2e',
                            900: '#134e4a',
                            800: '#115e59',
                            700: '#0f766e',
                            600: '#0d9488',
                            500: '#14b8a6',
                            400: '#2dd4bf',
                            300: '#5eead4',
                            200: '#99f6e4',
                            100: '#ccfbf1',
                            50: '#f0fdfa',
                        },
                        violet: {
                            950: '#2e1065',
                            900: '#4c1d95',
                            800: '#5b21b6',
                            700: '#6d28d9',
                            600: '#7c3aed',
                            500: '#8b5cf6',
                            400: '#a78bfa',
                            300: '#c4b5fd',
                            200: '#ddd6fe',
                            100: '#ede9fe',
                            50: '#f5f3ff',
                        },
                    },
                    fontSize: generateTailwindSizes(),
                    width: generateTailwindSizes(),
                    maxWidth: generateTailwindSizes(),
                    height: generateTailwindSizes(),
                    padding: generateTailwindSizes(),
                    margin: generateTailwindSizes(),
                    inset: generateTailwindSizes(),
                    spacing: generateTailwindSizes(),
                    borderRadius: generateTailwindSizes(),
                    borderWidth: generateTailwindSizes(),
                    divideWidth: generateTailwindSizes(),
                    gap: generateTailwindSizes(),
                }
            }
        }
    </script>
</head>

<body class="font-poppins font-medium">

<div class="flex h-screen overflow-hidden relative">
    <!-- Sidebar -->
    <div class="scrollbar-hide">
        {% include 'sidebar/sidbar.html' %}
    </div>

    <!-- Main content -->
    <div class="flex-1 flex flex-col overflow-hidden bg-gray-60 ml-22 min-h-0">
        <!-- Header -->
        {% include 'header/header.html' %}

        <!-- Scrollable content -->
        <main class="flex-1 overflow-y-auto relative mt-14 bg-gray-50 min-h-0" style="height: calc(100vh - 3.5rem);">
            <div id="main-loader" class="absolute inset-0 bg-gray-500 bg-opacity-50 hidden flex items-center justify-center z-50">
                <div class="bg-white rounded-lg p-8 flex flex-col items-center shadow-lg">
                    <span class="loader mb-4"></span>
                    <p class="text-gray-700">Processing request...</p>
                </div>
            </div>
            {% block content %}
            <!-- Page content -->
            {% endblock %}
        </main>
    </div>

    <!-- Error Modal -->
    <div id="modal-error"
         class="fixed inset-0 bg-gray-400/50 backdrop-blur-xl overflow-y-auto h-full w-full flex items-center justify-center z-30 hidden">
        <div class="relative bg-white rounded-lg shadow-xl max-w-172.5 w-full mx-4">
            <div class="absolute top-4.5 right-4.5 -mr-4 -mt-4 z-10">
                <button type="button" id="close-modal-error"
                        class="p-2 text-gray-250 text-xl hover:text-gray-900 focus:outline-none">
                    <i class="ph ph-x"></i>
                </button>
            </div>

            <div class="p-12.5 flex flex-col items-center gap-5">
                <div class="flex items-center justify-center rounded-full h-16 w-16 bg-red-50 p-2 rounded-full">
                    <div class="flex items-center justify-center rounded-full h-10 w-10 bg-red-500">
                        <i class="ph ph-x text-white text-xl"></i>
                    </div>
                </div>
                <div class="text-5 font-semibold">Error</div>
                <span class="text-center text-3.5 error-text mb-8"></span>
                <div class="flex items-center justify-between w-full">
                    <div class="w-1/2 pr-2">
                        <button
                                type="button"
                                class="reload w-full h-12 text-gray-500 border border-gray-500 rounded-full px-2.5 py-2 text-3.25 disabled:pointer-events-none disabled:text-gray-225 disabled:border-gray-225 expert-revision font-poppins text-base">
                            Reduce my text
                        </button>
                    </div>
                    <div class="w-1/2 pl-2">
                        <button
                                type="button"
                                class="flex items-center h-12 justify-center reload w-full text-white border bg-green-800 rounded-full px-2.5 py-2 text-3.25 disabled:pointer-events-none disabled:text-gray-225 disabled:border-gray-225 expert-revision font-poppins text-base">
                            <span class="mr-2">
                                <i class="ph ph-crown text-white"></i>
                            </span>
                            Upgrade to a higher plan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Invite Modal -->
    <div id="invite-modal"
         class="fixed inset-0 bg-gray-425 bg-opacity-50 overflow-y-auto h-full w-full hidden flex items-center justify-center">
        <div class="relative bg-white rounded-lg shadow-xl max-w-200 w-full mx-4 modal-content">
            <form name="invite" autocomplete="off" class="p-17.5 flex flex-col items-center gap-10">
                {% csrf_token %}
                <div class="text-5 font-semibold">{% trans 'Invite people by email' %}</div>
                <div class="w-full" id="input-invite">
                    <label for="emails" class="text-4 font-semibold text-gray-600 mb-1.5">
                        {% trans 'Email' %}
                    </label>
                    <div class="mt-1">
                        <input
                                type="text"
                                id="emails"
                                name="emails"
                                placeholder="{% trans 'Start typing...' %}"
                                required
                                class="placeholder:text-gray-480 font-normal text-3.5 p-3.5 w-full rounded-2.5 border-gray-300 bg-gray-75"
                        />
                    </div>
                    <div class="flex items-center gap-1.5 mt-3.5">
                        <svg class="h-4 w-4" viewBox="0 0 15 16" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2658_295)">
                                <path d="M7.5 0.5C3.35476 0.5 0 3.85438 0 8C0 12.1452 3.35438 15.5 7.5 15.5C11.6452 15.5 15 12.1456 15 8C15 3.85481 11.6456 0.5 7.5 0.5ZM7.5 14.4535C3.94154 14.4535 1.04651 11.5585 1.04651 8C1.04651 4.44151 3.94154 1.54651 7.5 1.54651C11.0585 1.54651 13.9535 4.44151 13.9535 8C13.9535 11.5585 11.0585 14.4535 7.5 14.4535Z"
                                      fill="#9EAAB3"/>
                                <path d="M7.50019 6.75183C7.05593 6.75183 6.74002 6.93945 6.74002 7.21586V10.9772C6.74002 11.2141 7.05593 11.451 7.50019 11.451C7.9247 11.451 8.2702 11.2141 8.2702 10.9772V7.21581C8.2702 6.93942 7.9247 6.75183 7.50019 6.75183Z"
                                      fill="#9EAAB3"/>
                                <path d="M7.50018 4.43188C7.04605 4.43188 6.69067 4.75767 6.69067 5.13281C6.69067 5.50799 7.04607 5.84364 7.50018 5.84364C7.94443 5.84364 8.29986 5.50799 8.29986 5.13281C8.29986 4.75767 7.9444 4.43188 7.50018 4.43188Z"
                                      fill="#9EAAB3"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_2658_295">
                                    <rect width="15" height="15" fill="white" transform="translate(0 0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <div class="text-gray-400 text-3.5 leading-none text-start font-normal">
                            {% trans 'Add emails separated by commas to send multiple invitations to the Translation Portal. The invitation will be valid for' %}
                            <span class="text-gray-400 font-bold">{% trans '72 hours' %}</span>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2.5 mt-5">
                        <select class="glossary-language-source glossary-language-select" name="subscription_type_id" required>
                            <option value="" disabled selected>Select subscription type</option>
                            {% for subscription_type in subscription_types %}
                            <option value="{{ subscription_type.id }}">
                                {{ subscription_type.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="flex items-center justify-start w-full">
                    <div>
                        <button
                                type="submit"
                                id="invite-btn"
                                class="flex-1 bg-green-700 text-white border border-green-700 rounded-1.5 py-2.5 px-6.5 text-4 disabled:pointer-events-none disabled:text-gray-225 disabled:border-gray-225 expert-revision"
                        >
                            {% trans 'Invite' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/get-cookie.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/response-error.js' %}"></script>
<script src="{% static 'legal/js/toast.js' %}"></script>
<script src="{% static 'legal/js/header.js' %}"></script>
<script src="{% static 'legal/js/sidebar.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>

<script>
    var language_code = "{{ request.LANGUAGE_CODE }}"
    var invite_user_url = "{% url 'invite-user'%}"
    
    // Messages traduits pour le système de toast
    window.toastMessages = {
        close: "{% trans 'Close' %}"
    };
</script>

{% block extra_js %} {% endblock %}
</body>
</html>
