{% load static %}

<form class="shadow-[0_0_15px_rgba(0,0,0,0.1)] rounded-md p-2.5 w-full h-full flex flex-col items-end">
    <div class="w-full">
        <div class="relative pt-1">
            <div class="overflow-hidden h-1.5 mb-15 text-xs flex rounded bg-green-300">
                <div id="progress-bar"
                     class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-700 transition-all duration-500 ease-out"
                     style="width: 0%"></div>
            </div>
            <div class="flex justify-between absolute w-full top-0.5">
                <div class="flex flex-col text-green-700">
                    <svg class="progress-point w-2.5 h-2.5 " viewBox="0 0 10 10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect width="10" height="10" rx="5" fill="currentColor"/>
                        <rect x="3.33398" y="3.33301" width="3.33333" height="3.33333" rx="1.66667" fill="white"/>
                    </svg>
                    <div class="flex flex-col gap-0.5 mt-2">
                        <span class="text-3.25 text-green-300">Upload the document</span>
                    </div>
                </div>
                <div id="point-2" class="flex flex-col">
                    <svg class="progress-point w-2.5 h-2.5 text-green-400" viewBox="0 0 10 10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect width="10" height="10" rx="5" fill="currentColor"/>
                        <rect x="3.33398" y="3.33301" width="3.33333" height="3.33333" rx="1.66667" fill="white"/>
                    </svg>
                    <div class="flex flex-col gap-0.5 mt-2">
                        <span class="text-3.25 text-green-300">Language combination</span>
                    </div>
                </div>
                <div id="point-3" class="flex flex-col">
                    <svg class="progress-point w-2.5 h-2.5 text-green-400" viewBox="0 0 10 10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect width="10" height="10" rx="5" fill="currentColor"/>
                        <rect x="3.33398" y="3.33301" width="3.33333" height="3.33333" rx="1.66667" fill="white"/>
                    </svg>
                    <div class="flex flex-col gap-0.5 mt-2">
                        <span class="text-3.25 text-green-300">Domain selection</span>
                    </div>
                </div>
                <div id="point-4" class="flex flex-col">
                    <svg class="progress-point w-2.5 h-2.5 text-green-400" viewBox="0 0 10 10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect width="10" height="10" rx="5" fill="currentColor"/>
                        <rect x="3.33398" y="3.33301" width="3.33333" height="3.33333" rx="1.66667" fill="white"/>
                    </svg>
                    <div class="flex flex-col gap-0.5 mt-2">
                        <span class="text-3.25 text-green-300">Terminology</span>
                    </div>
                </div>
                <div id="point-5" class="flex flex-col">
                    <svg class="progress-point w-2.5 h-2.5 text-green-400" viewBox="0 0 10 10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect width="10" height="10" rx="5" fill="currentColor"/>
                        <rect x="3.33398" y="3.33301" width="3.33333" height="3.33333" rx="1.66667" fill="white"/>
                    </svg>
                    <span class="text-xs mt-2 text-green-300">Review</span>
                </div>
            </div>
        </div>
    </div>

    <div class="border-dashed border-2 border-gray-400 w-full h-full py-7.5 px-5 step-container">


        <!--  ------------- STEP-1 -------------  -->


        {% include 'steps/step_1.html' %}


        <!--  ------------- STEP-2 -------------  -->


        {% include 'steps/step_2.html' %}


        <!--  ------------- STEP-3 -------------  -->


        {% include 'steps/step_3.html' %}


        <!--  ------------- STEP-4 -------------  -->


        {% include 'steps/step_4.html' %}


        <!--  ------------- STEP-5 -------------  -->


        {% include 'steps/step_5.html' %}


    </div>
    <div class="flex items-center justify-between w-full action-list">
        <button type="button"
                id="prev-step"
                class="text-3.5 mt-5 flex gap-2.5 items-center px-6.5 py-2 rounded-md bg-transparent hover:bg-green-700 text-green-700 hover:text-white border border-green-700 transition-colors duration-300 font-semibold upload-document hidden">
            Previous
        </button>
        <button type="button"
                id="restart"
                class="hidden text-3.5 mt-5 flex gap-2.5 items-center px-6.5 py-2 rounded-md bg-transparent hover:bg-green-700 text-green-700 hover:text-white border border-green-700 transition-colors duration-300 font-semibold upload-document hidden">
            New translation
        </button>
        <button type="button"
                id="next-step"
                class="text-3.5 mt-5 flex gap-2.5 items-center px-6.5 py-2 rounded-md bg-transparent hover:bg-green-700 text-green-700 hover:text-white border border-green-700 transition-colors duration-300 font-semibold upload-document hidden">
            Following
        </button>
    </div>
</form>

<script src="{% static 'js/document-translate.js' %}"></script>
