{% load static %}
{% load i18n %}

<!-- Main Content -->
<div class="flex p-4 px-6 flex-col items-end gap-6 self-stretch rounded-lg bg-white">
    <!-- Step Indicator -->
    <div class="flex items-start self-stretch">
        <!-- Step 1: Document -->
        <div class="flex flex-col items-start gap-3 flex-1">
            <!-- Status bar with circle and line -->
            <div class="flex pr-0.5 items-center gap-0.5 self-stretch">
                <!-- Circle with number -->
                <div class="flex w-6 h-6 justify-center items-center rounded-full border-0.5 border-[#166534]">
                    <span class="flex w-6 h-6 flex-col justify-center shrink-0 text-center font-poppins text-sm font-semibold leading-6 tracking-[-0.084px] text-[#166534]">
                        1
                    </span>
                </div>
                <!-- Connecting line -->
                <div class="h-0.5 flex-1 bg-black/10"></div>
            </div>
            <!-- Content -->
            <div class="flex pr-5 flex-col items-start gap-4 self-stretch">
                <div class="flex flex-col items-start gap-1.5 self-stretch">
                    <h3 class="self-stretch font-poppins text-lg font-semibold leading-6 tracking-[-0.252px] text-[#181932]">
                        {% trans 'Document' %}
                    </h3>
                </div>
            </div>
        </div>

        <!-- Step 2: Languages -->
        <div class="flex flex-col items-start gap-3 flex-1">
            <!-- Status bar with circle and line -->
            <div class="flex pr-0.5 items-center gap-0.5 self-stretch">
                <!-- Circle with number -->
                <div class="flex w-6 h-6 justify-center items-center rounded-full border-0.5 border-black/10">
                        <span class="flex w-6 h-6 flex-col justify-center shrink-0 text-center font-poppins text-sm font-semibold leading-6 tracking-[-0.084px] text-[#5A5A78]">
                            2
                        </span>
                </div>
                <!-- Connecting line -->
                <div class="h-0.5 flex-1 bg-black/10"></div>
            </div>
            <!-- Content -->
            <div class="flex pr-5 flex-col items-start gap-4 self-stretch">
                <div class="flex flex-col items-start gap-1.5 self-stretch">
                    <h3 class="self-stretch font-poppins text-lg font-semibold leading-6 tracking-[-0.252px] text-[#181932]">
                        {% trans 'Languages' %}
                    </h3>
                </div>
            </div>
        </div>

        <!-- Step 3: Field and Lexicon -->
        <div class="flex flex-col items-start gap-3 flex-1">
            <!-- Status bar with circle and line -->
            <div class="flex pr-0.5 items-center gap-0.5 self-stretch">
                <!-- Circle with number -->
                <div class="flex w-6 h-6 justify-center items-center rounded-full border-0.5 border-black/10">
                        <span class="flex w-6 h-6 flex-col justify-center shrink-0 text-center font-poppins text-sm font-semibold leading-6 tracking-[-0.084px] text-[#5A5A78]">
                            3
                        </span>
                </div>
                <!-- Connecting line -->
                <div class="h-0.5 flex-1 bg-black/10"></div>
            </div>
            <!-- Content -->
            <div class="flex pr-5 flex-col items-start gap-4 self-stretch">
                <div class="flex flex-col items-start gap-1.5 self-stretch">
                    <h3 class="self-stretch font-poppins text-lg font-semibold leading-6 tracking-[-0.252px] text-[#181932]">
                        {% trans 'Field and Lexicon' %}
                    </h3>
                </div>
            </div>
        </div>

        <!-- Step 4: Translation -->
        <div class="flex flex-col items-start gap-3">
            <!-- Status bar with circle -->
            <div class="flex pr-0.5 items-center gap-0.5 self-stretch">
                <!-- Circle with number -->
                <div class="flex w-6 h-6 justify-center items-center rounded-full border-0.5 border-black/10">
                        <span class="flex w-6 h-6 flex-col justify-center shrink-0 text-center font-poppins text-sm font-semibold leading-6 tracking-[-0.084px] text-[#5A5A78]">
                            4
                        </span>
                </div>
            </div>
            <!-- Content -->
            <div class="flex pr-5 flex-col items-start gap-4 self-stretch">
                <div class="flex flex-col items-start gap-1.5 self-stretch">
                    <h3 class="self-stretch font-poppins text-lg font-semibold leading-6 tracking-[-0.252px] text-[#181932]">
                        {% trans 'Translation' %}
                    </h3>
                </div>
            </div>
        </div>
    </div>


    <div class="w-full h-full py-7.5 px-5 step-container">
        {% include 'steps/step_1.html' %}
        {% include 'steps/step_2.html' %}
        {% include 'steps/step_3.html' %}
        {% include 'steps/step_4.html' %}
    </div>

    <div class="flex justify-between w-full">
        <!-- Prev Button -->
        <button id="prev-step" disabled class="flex px-2.5 py-2 justify-center items-center rounded-full bg-[#166534] transition-all opacity-50 cursor-not-allowed">
            <div class="flex px-2 justify-center items-center">
                <span class="font-poppins text-sm font-semibold leading-6 tracking-[-0.084px] text-white">
                    {% trans 'Previous' %}
                </span>
            </div>
            <!-- Arrow Right Icon SVG -->
            <svg class="w-6 h-6 text-white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>

        <!-- Next Button -->
        <button id="next-step" disabled class="flex px-2.5 py-2 justify-center items-center rounded-full bg-[#166534] transition-all opacity-50 cursor-not-allowed">
            <div class="flex px-2 justify-center items-center">
                <span class="font-poppins text-sm font-semibold leading-6 tracking-[-0.084px] text-white">
                    {% trans 'Next' %}
                </span>
            </div>
            <!-- Arrow Right Icon SVG -->
            <svg class="w-6 h-6 text-white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
</div>

<script src="{% static 'js/document-translate.js' %}"></script>

