<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 10pt;
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #000000;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #2f9d6f;
            color: #ffffff;
        }

        .header-table td {
            border: none;
            padding: 5px;
        }

        .header-table .bordered {
            border: 1px solid #000000;
        }
    </style>
</head>
<body>

<table class="header-table">
    <tr>
        <img style="width: 120px; height: 40px; margin-bottom: 39px;"
             src="https://s3fileprocessinglogos.s3.eu-north-1.amazonaws.com/lexa.jpg" alt="Logo">
    </tr>

    <tr>
        <td rowspan="4">
            <p><strong>LEGAL 230</strong></p>
            <p>75 Boulevard Haussmann</p>
            <p>75008 Paris</p>
        </td>
        <td><strong>DEVIS №:</strong> <span>{{ quote_number }}</span></td>
    </tr>
    <tr>
        <td>{{ company }}</td>
    </tr>
    <tr>
        <td>{{ company }}</td>
    </tr>
    <tr>
        <td>Date: <span>{{ created_at|date:"d/m/Y" }}</span></td>
    </tr>
</table>

<p>Cher <span>{{ username }}</span>,</p>
<p>Nous vous remercions de vous avoir consulté pour cette demande.</p>

<table>
    <tr>
        <th>Document</th>
        <th>Langues</th>
{#        <th>Working days</th>#}
        <th>Unité</th>
        <th>Prix à l’unité</th>
        <th>Total HT</th>
    </tr>
    <tr>
        <td>{{ file_name }}</td>
        <td>{{ language_pair }}</td>
{#        <td>{{ working_days }}</td>#}
        <td>{{ words_count }}</td>
        <td>{{ word_price }} €</td>
        <td>{{ total_price }} €</td>
    </tr>
</table>

<p>La relecture sera effectuée par l’un de nos traducteurs juridiques expert.
    Nos traducteurs traduisent exclusivement vers leur langue maternelle (langue source).
    Une fois la relecture terminée, le document intégral est revu par un chef de projet de notre équipe.
    Nos chefs de projet ont une formation juridique et vérifient la conformité de la traduction avec le document source.
</p>

<p><strong>Cas particuliers:</strong></p>
<p>1°  Pour le moment, les devis automatiques générés par Lexa ne calculent pas les répétitions éventuelles entre les documents.
    N’hésitez pas à demander à notre équipe un devis ajusté en répondant directement à l’e-mail que vous avez reçu.
    <br>
    2° Les devis automatiques générés par Lexa sont calculés sur la base d’une livraison en délai normal.
    Si votre projet est urgent, n’hésitez pas à demander à notre équipe un devis ajusté en répondant directement à l’e-mail que vous avez reçu.
</p>

<p><strong>Livraison de vos documents:</strong></p>
<p>Sauf instruction spécifique de votre part, vos documents relus seront mis à disposition sur le portail.</p>

<p><strong>Conditions générales:</strong></p>
<p>TLa validation du présent devis emporte acceptation pleine et entière des conditions générales de LEGAL 230, disponibles sur ce lien
    <a href="https://legal230.com/conditions-generales-de-vente">https://legal230.com/conditions-generales-de-vente</a>
</p>

<p><strong>Validation:</strong></p>
<p>Si vous souhaitez accepter ce devis,
    cliquez sur le bouton <strong>“Accepter le devis”</strong> en bas de cet e-mail
    ou répondez directement à l’e-mail que vous avez reçu en indiquant
    <strong>«Bon pour accord pour la somme de XXX HT».</strong>
</p>

<p><strong>Conditions de paiement:</strong></p>
<p>A réception de la facture, le délai de paiement est de 30 jours.
    Il est envisageable de facturer directement votre client
    si les conditions sont réunies pour procéder de la sorte (coordonnées valides, adresse email, bon de commande).
    Toute somme non payée à sa date d'exigibilité produira de plein
    droit des intérêts de retard équivalents au triple du taux d'intérêts légal de l'année en cours ainsi
    que le paiement d'une somme de 40 € due au titre des frais de recouvrement.
    Dans tous les cas, vous recevrez un mail de confirmation de commande.
    Nous espérons vivement que cette proposition répondra à vos attentes.
    Nous serions très heureux de pouvoir vous assister et demeurons
    bien entendu à votre entière disposition pour répondre à toutes questions complémentaires que vous pourriez avoir.
</p>

<p style="text-align:right;">Vous remerciant de votre confiance</p>
<p>Christelle Mandet</p>
<p>Directrice Commerciale</p>
<p style="text-align:right;"><strong><a href="{{ accept_expert_revision_file_absolute_url }}">Accepter le devis</a></strong></p>


<p style="text-align:center; font-size:9pt;">
    Legal 230 - 75, boulevard Haussmann - 75008 PARIS<br>
    Téléphone: 01 84 80 21 20 - E-mail: contact@legal230.com - SIRET 885 324 129 00018 <br>
    N° intracommunautaire: FR73885324129
</p>
</body>
</html>
