{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="mx-5 mb-11.5 mt-5">
    <h2 class="text-2xl mb-2">{% trans 'Translation' %}</h2>
    <div class="text-base">{% trans 'Instantly translate your textsand documents into multiple languages' %}</div>
    <div class="flex justify-between items-center mt-5">
        <div class="flex gap-2.5 items-center rounded-full bg-gray-100 border-0.5">
            <button type="button" id="text-translate"
                    class="tab flex gap-2.5 items-center px-4 py-2.5 rounded-full hover:bg-gray-200 text-gray-900 font-medium font-weight-500 bg-white transition-colors duration-300">
                <span class="text-3.5">{% trans 'Text translate' %}</span>
            </button>
            <button type="button"  id="document-translate"
                    class="tab flex gap-2.5 items-center px-4 py-2.5 rounded-full text-gray-900 hover:text-gray-900 text-gray-300 transition-colors duration-300">
                <span class="text-3.5">{% trans 'Document translate' %}</span>
            </button>
        </div>
    </div>

    <div class="my-5">
        <!--  ------------- TAB-1 -------------  -->


        <div id="text-translate-content" class="tab-content hidden">
            {% include 'text_translate.html' %}
        </div>


        <!--  ------------- TAB-2 -------------  -->


        <div id="document-translate-content" class="tab-content hidden">
            {% include 'document_translate.html' %}
        </div>

    </div>

</div>
<script src="{% static 'js/text-translate.js' %}"></script>
<script src="{% static 'js/translate.js' %}"></script>
<script>
    let get_domains = "{% url 'get_domains' %}"
    let translate = "{% url 'main_index' %}"
    let single_project = "{% url 'single_project' %}"
    let detect_language = "{% url 'detect_language' %}"
    let detect_text_language = "{% url 'detect_text_language' %}"
    let domain_groups = "{% url 'domain_groups' %}"
    let get_default_glossary = "{% url 'get_default_glossary' %}"
    let api_list_glossaries = "{% url 'api_list_glossaries' %}"
    let expert_revision_file_url = "{% url 'expert_revision_file' %}"
    let add_glossary = "{% url 'add_glossary' %}"
</script>
<script>
    var languages = [
        {% for language in translate_languages %}
    {
        "id": {{ language.id }},
        "abbreviation": "{{ language.abbreviation }}",
        "name": "{% if request.LANGUAGE_CODE == 'fr' and language.french_name %}{{ language.french_name }} {% else %} {{ language.name }} {% endif %}",

    },
    {% endfor %}
    ]
    var language_code = "{{  request.LANGUAGE_CODE }}"

    var access_to_default_glossaries = {{ access_to_default_glossaries|yesno:"true,false" }}
</script>
{% endblock %}
