{% extends 'base.html' %}

{% block content %}
<div class="ml-31.25 mt-11.5 mr-63.75">
    <div class="flex justify-between items-center">
    <div class="text-7.5" >Usage history</div>
    <div class="flex gap-5 items-center font-montserrat text-xs font-medium leading-4.5 text-left text-[#7A8B98]">
    <button id="show-options" class="underline">Show all options</button>
    <p class="flex justify-between items-center gap-2">
   <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_1514_7479)">
    <path d="M2.2862 4.78962C2.33642 4.73904 2.39202 4.69635 2.44978 4.65922L6.32569 0.783488C6.70398 0.405564 7.31705 0.405385 7.69551 0.783667C8.07379 1.16177 8.07379 1.77502 7.69551 2.15348L4.35733 5.4913L7.71237 8.8467C8.09083 9.22462 8.09083 9.83805 7.71237 10.2165C7.52314 10.4054 7.27543 10.4999 7.02773 10.4999C6.78003 10.4999 6.53178 10.4054 6.34309 10.2162L2.44978 6.32338C2.39202 6.28625 2.3366 6.24374 2.2862 6.19298C2.09248 5.99926 1.99957 5.74492 2.00387 5.4913C1.99939 5.2375 2.09248 4.9828 2.2862 4.78962Z" fill="#212121"/>
    </g>
    <defs>
    <clipPath id="clip0_1514_7479">
    <rect width="10" height="10" fill="white" transform="matrix(-1 0 0 1 10 0.5)"/>
    </clipPath>
    </defs>
    </svg>
    
        23 December/ 23 January
        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1514_7483)">
            <path d="M7.7138 4.78962C7.66358 4.73904 7.60798 4.69635 7.55022 4.65922L3.67431 0.783488C3.29602 0.405564 2.68295 0.405385 2.30449 0.783667C1.92621 1.16177 1.92621 1.77502 2.30449 2.15348L5.64267 5.4913L2.28763 8.8467C1.90917 9.22462 1.90917 9.83805 2.28763 10.2165C2.47686 10.4054 2.72457 10.4999 2.97227 10.4999C3.21997 10.4999 3.46822 10.4054 3.65691 10.2162L7.55022 6.32338C7.60798 6.28625 7.6634 6.24374 7.7138 6.19298C7.90752 5.99926 8.00043 5.74492 7.99613 5.4913C8.00061 5.2375 7.90752 4.9828 7.7138 4.78962Z" fill="#212121"/>
            </g>
            <defs>
            <clipPath id="clip0_1514_7483">
            <rect width="10" height="10" fill="white" transform="translate(0 0.5)"/>
            </clipPath>
            </defs>
            </svg>
            
    </p>
    </div>
    
</div>
<div id="additional-options" class="hidden mt-4">
    <div class="flex gap-4">
        <div class="w-1/3">
            <select class="w-full border border-gray-300 rounded-md p-2">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div>
        <div class="w-1/3">
            <select class="w-full border border-gray-300 rounded-md p-2">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div>
        <div class="w-1/3">
            <select class="w-full border border-gray-300 rounded-md p-2">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div>
    </div>
</div>



    <div class="shadow-[0_0_15px_rgba(0,0,0,0.1)] rounded-md p-2.5 w-full h-full flex flex-col items-end">
        <table class="table-auto mt-5 w-full border-separate border-spacing-y-5">
            <thead>
            <tr>
                <th class="text-4 text-gray-800 font-medium text-left">User</th>
                <th class="text-4 text-gray-800 font-medium text-left">Group</th>
                <th class="text-4 text-gray-800 font-medium text-left">File name</th>
                <th class="text-4 text-gray-800 font-medium text-left">Characters</th>
                <th class="text-4 text-gray-800 font-medium text-left">Tokens</th>
                <th class="text-4 text-gray-800 font-medium text-left w-1">Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
