{% extends 'base.html' %}

{% block content %}
<div class="ml-31.25 mt-11.5 mr-63.75">
    <p class="text-7.5">Usage history</p>
    <div class="shadow-[0_0_15px_rgba(0,0,0,0.1)] rounded-md p-2.5 w-full h-full flex flex-col items-end">
        <table class="table-auto mt-5 w-full border-separate border-spacing-y-5">
            <thead>
            <tr>
                <th class="text-4 text-gray-800 font-medium text-left">User</th>
                <th class="text-4 text-gray-800 font-medium text-left">Group</th>
                <th class="text-4 text-gray-800 font-medium text-left">File name</th>
                <th class="text-4 text-gray-800 font-medium text-left">Characters</th>
                <th class="text-4 text-gray-800 font-medium text-left">Tokens</th>
                <th class="text-4 text-gray-800 font-medium text-left w-1">Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            <tr>
                <td class="text-3.25 text-gray-800">
                    Uknown
                </td>
                <td class="text-3.25 text-gray-800">
                    Group 1
                </td>
                <td>
                    <div class="flex gap-1 text-4 items-center text-green-700">
                      File name
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td>
                    <div class="text-3.25 text-green-700">
                        XXXXXX
                    </div>
                </td>
                <td class="text-3.25 text-gray-800">
                    06/08/2024
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
