{% extends 'base.html' %}

{% block content %}
<div class="ml-31.25 mt-11.5 mr-63.75">
    <div class="flex justify-between items-center">
        <div class="text-7.5">Usage history</div>
        <div class="flex gap-5 items-center font-montserrat text-xs font-medium leading-4.5 text-left text-[#7A8B98]">
            <button id="options" class="underline">Show all options</button>
            <p class="flex justify-between items-center gap-2">
                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1514_7479)">
                        <path
                            d="M2.2862 4.78962C2.33642 4.73904 2.39202 4.69635 2.44978 4.65922L6.32569 0.783488C6.70398 0.405564 7.31705 0.405385 7.69551 0.783667C8.07379 1.16177 8.07379 1.77502 7.69551 2.15348L4.35733 5.4913L7.71237 8.8467C8.09083 9.22462 8.09083 9.83805 7.71237 10.2165C7.52314 10.4054 7.27543 10.4999 7.02773 10.4999C6.78003 10.4999 6.53178 10.4054 6.34309 10.2162L2.44978 6.32338C2.39202 6.28625 2.3366 6.24374 2.2862 6.19298C2.09248 5.99926 1.99957 5.74492 2.00387 5.4913C1.99939 5.2375 2.09248 4.9828 2.2862 4.78962Z"
                            fill="#212121" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1514_7479">
                            <rect width="10" height="10" fill="white" transform="matrix(-1 0 0 1 10 0.5)" />
                        </clipPath>
                    </defs>
                </svg>

                23 December/ 23 January
                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1514_7483)">
                        <path
                            d="M7.7138 4.78962C7.66358 4.73904 7.60798 4.69635 7.55022 4.65922L3.67431 0.783488C3.29602 0.405564 2.68295 0.405385 2.30449 0.783667C1.92621 1.16177 1.92621 1.77502 2.30449 2.15348L5.64267 5.4913L2.28763 8.8467C1.90917 9.22462 1.90917 9.83805 2.28763 10.2165C2.47686 10.4054 2.72457 10.4999 2.97227 10.4999C3.21997 10.4999 3.46822 10.4054 3.65691 10.2162L7.55022 6.32338C7.60798 6.28625 7.6634 6.24374 7.7138 6.19298C7.90752 5.99926 8.00043 5.74492 7.99613 5.4913C8.00061 5.2375 7.90752 4.9828 7.7138 4.78962Z"
                            fill="#212121" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1514_7483">
                            <rect width="10" height="10" fill="white" transform="translate(0 0.5)" />
                        </clipPath>
                    </defs>
                </svg>

            </p>
        </div>
    </div>
    <div class="my-4 flex justify-between items-center w-full hide-row">
        <p class="font-montserrat text-base font-normal leading-[19.5px] tracking-tight text-left w-50 hide-row">User
        </p>
        <p class="font-montserrat text-base font-normal leading-[19.5px] tracking-tight text-left w-50">Group</p>
        <p class="font-montserrat text-base font-normal leading-[19.5px] tracking-tight text-left w-50">File name</p>
        <p class=" w-50 text-left"></p>

    </div>
    <div id="additional-options" class="my-4 flex gap-3 items-center w-full hide-fields">
        <div class="relative w-80">
            <select
                class="w-full rounded-md p-2 font-montserrat text-base text-[16px] leading-6 tracking-tight text-left bg-[#F4F7FA] text-[#D5DADE] appearance-none">
                <option value="option1" class="text-xs">Select from the list</option>
                <option value="option2">User 1</option>
                <option value="option3">User 2</option>
            </select>
            <svg class="absolute right-2 top-1/2 transform -translate-y-1/2 w-4 h-4 text-black pointer-events-none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        <div class="relative w-80">
            <select
                class="w-full rounded-md p-2 font-montserrat text-base text-[16px] leading-6 tracking-tight text-left bg-[#F4F7FA] text-[#D5DADE] appearance-none">
                <option value="option1">Select from the list</option>
                <option value="option2">Group 1</option>
                <option value="option3">Group 2</option>
            </select>
            <svg class="absolute right-2 top-1/2 transform -translate-y-1/2 w-4 h-4 text-black pointer-events-none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        <div class="relative w-80">
            <select
                class="w-full rounded-md p-2 font-montserrat text-base text-[16px] leading-6 tracking-tight text-left bg-[#F4F7FA] text-[#D5DADE] appearance-none">
                <option value="option1">Select from the list</option>
                <option value="option2">File name 1</option>
                <option value="option3">File name 2</option>
            </select>
            <svg class="absolute right-2 top-1/2 transform -translate-y-1/2 w-4 h-4 text-black pointer-events-none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        <button
            class="gap-2.5 items-center border border-[#346C77] rounded-[6px] px-1 h-[37px] text-3.25 w-50 text-[#346C77]">Submit</button>
    </div>



    <div class="shadow-[0_0_15px_rgba(0,0,0,0.1)] rounded-md flex flex-col items-end px-5 pt-5 w-full h-full mt-5">
        <table class="border-collapse mt-5 w-full border-separate border-spacing-y-5">
            <thead>
                <tr class="border-gray-500">
                    <th class="text-4 text-gray-800 font-medium text-left border-b pb-5 user-row">User</th>
                    <th class="text-4 text-gray-800 font-medium text-left border-b pb-5">Group</th>
                    <th class="text-4 text-gray-800 font-medium text-left border-b pb-5">File name</th>
                    <th class="text-4 text-gray-800 font-medium text-left border-b pb-5">Characters</th>
                    <th class="text-4 text-gray-800 font-medium text-left border-b pb-5">Tokens</th>
                    <th class="text-4 text-gray-800 font-medium text-left w-1 border-b pb-5">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects.results %}
                <tr>
                    <td class="text-3.25 text-gray-800">
                        {{ project.user }}
                    </td>
                    <td class="text-3.25 text-gray-800">
                        {{ project.user__group }}
                    </td>
                    <td>
                        <div class="flex gap-1 text-4 items-center text-green-700">
                            {{ project.file_name }}
                        </div>
                    </td>
                    <td>
                        <div class="text-3.25 text-green-700">
                            {{ project.chars }}
                        </div>
                    </td>
                    <td>
                        <div class="text-3.25 text-green-700">
                            {{ project.token }}
                        </div>
                    </td>
                    <td class="text-3.25 text-gray-800">
                        {{ project.created_at }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- <script>
            $(document).ready(function() {
                // Sakrij redove kada se stranica učita
                $('.hide-row, .hide-fields').hide();
    
                $('#options').click(function(e) {
                    e.preventDefault();
                    toggleVisibility();
                });
    
                function toggleVisibility() {
                    var $rows = $('.hide-row, .hide-fields');
                    
                    if ($rows.is(':visible')) {
                        console.log('Hiding rows');
                        $rows.hide();
                    } else {
                        console.log('Showing rows');
                        $rows.show();
                    }
                }
            });
        </script> -->
    </div>
    <div class="pagination flex justify-center items-center py-12.5 w-full gap-18"
        data-total-items="{{ projects.count }}" data-items-per-page="{{ projects.page_size }}"
        data-current-page="{{ projects.current_page }}">
        <a href="#" id="prev-page" class="flex items-center gap-2.5 text-3.25 text-gray-800">
            <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.286074 4.78962C0.336297 4.73904 0.3919 4.69635 0.449656 4.65922L4.32557 0.783488C4.70385 0.405564 5.31693 0.405385 5.69539 0.783667C6.07367 1.16177 6.07367 1.77502 5.69539 2.15348L2.35721 5.4913L5.71225 8.8467C6.09071 9.22462 6.09071 9.83805 5.71225 10.2165C5.52302 10.4054 5.27531 10.4999 5.02761 10.4999C4.7799 10.4999 4.53166 10.4054 4.34297 10.2162L0.449656 6.32338C0.3919 6.28625 0.336476 6.24374 0.286074 6.19298C0.0923591 5.99926 -0.000552654 5.74492 0.00375223 5.4913C-0.000731945 5.2375 0.0923591 4.9828 0.286074 4.78962Z"
                    fill="#2B4459" />
            </svg>
            Prev
        </a>
        <div id="page-numbers" class="flex space-x-3.5 text-3.25 items-end">
            <!-- Page numbers will be inserted here dynamically -->
        </div>
        <a href="#" id="next-page" class="flex items-center gap-2.5 text-3.25 text-gray-800">
            Next
            <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M5.71393 4.78962C5.6637 4.73904 5.6081 4.69635 5.55034 4.65922L1.67443 0.783488C1.29615 0.405564 0.683075 0.405385 0.304613 0.783667C-0.0736695 1.16177 -0.0736695 1.77502 0.304613 2.15348L3.64279 5.4913L0.287753 8.8467C-0.0907092 9.22462 -0.0907092 9.83805 0.287753 10.2165C0.476983 10.4054 0.724687 10.4999 0.972392 10.4999C1.2201 10.4999 1.46834 10.4054 1.65703 10.2162L5.55034 6.32338C5.6081 6.28625 5.66352 6.24374 5.71393 6.19298C5.90764 5.99926 6.00055 5.74492 5.99625 5.4913C6.00073 5.2375 5.90764 4.9828 5.71393 4.78962Z"
                    fill="#2B4459" />
            </svg>

        </a>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{% load static %}
<script src="{% static 'js/history.js' %}"></script>

{% endblock extra_js %}