{% load i18n %}
<div class="quick-actions">
  <h2 class="qa-title">{% trans 'Quick Actions' %}</h2>
  <a href="{% url 'main_index' %}" class="dashboard-btn btn-green">
    <i class="ph ph-plus icon-24"></i>
    {% trans 'New translation' %}
  </a>
  {% if is_group_admin %}
  <a href="{% url 'my_team' %}" class="dashboard-btn btn-outline">
    <i class="ph ph-users-three icon-24 color-dark"></i>
    {% trans 'Manage my team' %}
  </a>
  {% else %}
  <a href="{% url 'profile_details' %}" class="dashboard-btn btn-outline">
    <i class="ph ph-user-circle icon-24 color-dark"></i>
    {% trans 'My profile' %}
  </a>
  {% endif %}
  <a href="{% url 'glossaries' %}" class="dashboard-btn btn-outline">
    <i class="ph ph-folder-plus icon-24 color-dark"></i>
    {% trans 'Add a glossary' %}
  </a>
</div>
