@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'),
    url(../fonts/Montserrat-Regular.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat'),
    url(../fonts/Montserrat-Light.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat'),
    url(../fonts/Montserrat-Medium.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat'),
    url(../fonts/Montserrat-SemiBold.woff) format('woff')
}

@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat'),
    url(../fonts/Montserrat-Bold.woff) format('woff')
}

/*********** SELECT STYLES ***********/

.select2-container {
    width: 200px !important;
}

.select2-container--default .select2-selection--single {
    border: none;
    background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-image: url("/static/images/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-dropdown {
    border: none;
}

.select2-search--dropdown .select2-search__field {
    border: none;
    outline: none;
    background-image: url('/static/images/ico-search.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px;
    font-size: 14px;
    font-weight: 400;
}

.select2-search--dropdown .select2-search__field::placeholder {
    color: #9EAAB3;
    font-size: 14px;
    font-weight: 400;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default .select2-selection--single:focus {
    outline: none;
    box-shadow: none;
}

.select2-container--default .select2-results__option--selected {
    background-color: transparent;
}

.select2-search--dropdown .select2-search__field {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.select2-search--dropdown .select2-search__field:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default .select2-selection--single:focus {
    outline: none;
    box-shadow: none;
}

.select2-results__option {
    color: #0D2B40;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 12px;
    border-top: 1px solid #E4E8EA;
}

.select2-results__option:first-child {
    border-top: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: #176C77;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: transparent;
    color: #176C77;
}

.select2-container--default .select2-results__option:hover {
    color: #176C77;
}

.select2-container--default.domain .select2-search--dropdown .select2-search__field:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.select2-container.domain {
    background: #F2F3F5;
    padding: 5px 0;
}

.select2-container--default.domain .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    border-radius: 6px;
}

.select2-container.domain .select2-selection {
    background: #F2F3F5;
}

.select2-container.domain .select2-container--open {
    background: #F2F3F5;
    border-radius: 6px;
}

.select2-container.domain .select2-container--default {
    background: #F2F3F5;
}

.select2-container.domain .select2-dropdown {
    background: #F2F3F5;
    border-radius: 0px !important;
}

.select2-container.domain .select2-search {
    background-color: #F2F3F5;
    border-radius: 0px !important;
}

.select2-container.domain .select2-search input {
    background-color: #F2F3F5;
    border-radius: 0px !important;
}

.select2-container.domain .select2-results {
    background-color: #F2F3F5;
    border-radius: 0px !important;
}


.select2-container--default.glossary .select2-search--dropdown .select2-search__field:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.select2-container.glossary {
    padding: 12px 10px;
    background: #F8F9FA;
    width: 270px !important;
}

.select2-container--default.glossary .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
    border-radius: 6px;

}

.select2-container.glossary .select2-selection {
    background: #F8F9FA;
}

.select2-container.glossary .select2-container--open {
    background: #F8F9FA;
    border-radius: 6px;
}

.select2-container.glossary .select2-container--default {
    background: #F8F9FA;
}

.select2-container.glossary .select2-dropdown {
    background: #F8F9FA;
    border-radius: 0px !important;
}

.select2-container.glossary .select2-search {
    background-color: #F8F9FA;
    border-radius: 0px !important;
}

.select2-container.glossary .select2-search input {
    background-color: #F8F9FA;
    border-radius: 0px !important;
}

.select2-container.glossary .select2-results {
    background-color: #F8F9FA;
    border-radius: 0px !important;
}

.select2-container--default.error .select2-search--dropdown .select2-search__field:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.select2-container.error {
    background: #FFF7F7;
    padding: 5px 0;
}

.select2-container--default.error .select2-selection--single .select2-selection__rendered {
    color: #9EAAB3;
}

.select2-container.error .select2-selection {
    background: #FFF7F7;
}

.select2-container.error .select2-container--open {
    background: #FFF7F7;
    border-radius: 6px;
}

.select2-container.error .select2-container--default {
    background: #FFF7F7;
}

.select2-container.error .select2-dropdown {
    background: #FFF7F7;
    border-radius: 0px !important;
}

.select2-container.error .select2-search {
    background-color: #FFF7F7;
    border-radius: 0px !important;
}

.select2-container.error .select2-search input {
    background-color: #FFF7F7;
    border-radius: 0px !important;
}

.select2-container.error .select2-results {
    background-color: #FFF7F7;
    border-radius: 0px !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.login-body {
    width: 100%;
    max-width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 2px;
    gap: 30px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.login-body h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.login-body p {
    margin: 0;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
    width: 100%;
}

.login-body label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #000000;
}

.login-body input {
    background: #EBEFF0;
    padding: 16px 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #000000;
}

.login-body input::placeholder {
    color: #CACACA;
}

.login-body input:focus {
    outline: none;
    background: #EBEFF0;
    border: none;
}

.login-body button {
    border-radius: 5px;
    background: #176C77;
    color: #FFFFFF;
    padding: 20px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.login-body button:hover {
    background: #0D2B40;
}

.login-body ul {
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.login-body li {
    color: #ff6b6b;
    font-size: 14px;
    margin-top: 5px;
}

.login-body input:-webkit-autofill,
.login-body input:-webkit-autofill:hover,
.login-body input:-webkit-autofill:focus,
.login-body input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #EBEFF0 inset !important;
    -webkit-text-fill-color: #000000 !important;
    transition: background-color 5000s ease-in-out 0s;
}

.login-body input:-webkit-autofill::first-line {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.login-body input:-webkit-autofill {
    -webkit-text-fill-color: #000000 !important;
}

select:focus,
input:focus,
textarea:focus {
    outline: none;
}

.border-line {
    background-image: repeating-linear-gradient(to right, currentColor, currentColor 5px, transparent 5px, transparent 10px),
    repeating-linear-gradient(to right, currentColor, currentColor 5px, transparent 5px, transparent 10px),
    repeating-linear-gradient(to bottom, currentColor, currentColor 5px, transparent 5px, transparent 10px),
    repeating-linear-gradient(to bottom, currentColor, currentColor 5px, transparent 5px, transparent 10px);
    background-position: top, bottom, left, right;
    background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
    background-repeat: no-repeat;
}

.loader {
    width: 48px;
    height: 48px;
    border: 2px solid #556A7B;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#source-text,
#translated-text {
    resize: none;
    box-sizing: border-box;
    min-height: 200px;
    max-height: 100%;
    overflow: hidden;
}
