{% load static %}
{% load  i18n %}

<div class="step-domain flex flex-col justify-start hidden">
    <!-- 1. Sélectionner un domaine -->
    <div class="w-full">
        <span class="font-poppins font-normal text-gray-600 mb-3 inline-block" style="font-size: 16px; line-height: 24px;">1. {% trans 'Select domain' %}</span>
        <ul class="domains-list flex flex-row flex-wrap items-start w-full gap-2"></ul>
    </div>
    
    <!-- 2. Sélectionner un sous-domaine (si default_domain = false) -->
    <div id="subdomain-section" class="w-full hidden" style="margin-top: 32px;">
        <div class="w-full">
            <span class="font-poppins font-normal text-gray-600 mb-3 inline-block" style="font-size: 16px; line-height: 24px;">2. {% trans 'Select subdomain' %}</span>
            <div class="sub-domain-list flex flex-row flex-wrap items-start w-full gap-2"></div>
        </div>
    </div>
    
    <div class="w-full border-b-0.25 border-gray-200" style="margin-top: 32px; margin-bottom: 32px;"></div>
    
    <!-- 3. Sélectionner un glossaire -->
    <div class="flex-1">
        <span id="glossary-section-number" class="font-poppins font-normal text-gray-600 inline-block" style="font-size: 16px; line-height: 24px; margin-bottom: 12px;">3. {% trans 'Select or not, one or more glossaries' %}</span>
        <!-- Glossary Content -->
        <div class="w-full">
            <div id="glossary-content" class="py-2">
                <!-- Le contenu sera chargé dynamiquement par JavaScript -->
            </div>
        </div>
    </div>
</div>


