{% load static %}
{% load  i18n %}

<div class="step-3 flex flex-col justify-between hidden">
    <div class="w-full">
        <span class="font-poppins font-normal text-gray-600 mb-3 inline-block" style="font-size: 16px; line-height: 24px;">1. {% trans 'Select a field' %}</span>
        <ul class="domains-list flex flex-row flex-wrap items-start w-full gap-2"></ul>
    </div>
    <div class="w-full border-b-0.25 border-gray-200" style="margin-top: 32px; margin-bottom: 32px;"></div>
    <div class="flex-1">
        <span class="font-poppins font-normal text-gray-600 inline-block" style="font-size: 16px; line-height: 24px; margin-bottom: 12px;">2. {% trans 'Select a lexicon' %}</span>
        <!-- Tabs -->
        <div class="w-full">
            <!-- Tab Navigation -->
            <div class="h-11 p-0.5 flex border-b-0.25 border-b-gray-200">
                <button
                        id="step2-default"
                        class="tab-button active pr-4 pl-0 h-11"
                        data-tab="default">
                    {% trans 'Default' %}
                </button>
                <button
                        id="step2-my-lexicon"
                        class="tab-button px-4 h-11"
                        data-tab="my-lexicon">
                    {% trans 'My lexicon' %}
                </button>
                <button
                        id="step2-no-lexicon"
                        class="tab-button px-4 h-11"
                        data-tab="no-lexicon">
                    {% trans 'No lexicon' %}
                </button>
            </div>

            <!-- @TODO : Rattacher les boutons à l'ancien js -->
            <!-- Tab Content: Information -->
            <div id="step2-tab-default-content" class="tab-content py-2 active">
                <div class="sub-domain-list flex flex-row flex-wrap items-start w-full gap-2"></div>
            </div>
            <!-- Tab Content: Information -->
            <!-- @TODO : 10/09/2025 dynamiser ce block, étape 2 onglet lexicon -->
            <div id="step2-tab-my-lexicon-content" class="tab-content py-2">
                <div class="flex justify-center">
                    <div class="flex items-start gap-8 flex-1">
                        <div class="flex items-start gap-2">
                            <div class="w-8 h-10 relative">
                                <svg class="w-8 h-10 shrink-0 fill-[#BFDBFE] absolute left-0 top-0" width="32" height="40" viewBox="0 0 32 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 36V4C0 1.79086 1.79086 0 4 0H19.9C20.9271 0 21.9149 0.395099 22.6586 1.10345L30.7586 8.81773C31.5513 9.57271 32 10.6196 32 11.7143V36C32 38.2091 30.2091 40 28 40H4C1.79086 40 0 38.2091 0 36Z" fill="#BFDBFE"/>
                                </svg>
                                <div class="inline-flex px-1 items-center gap-2 rounded-sm bg-[#3B82F6] absolute -left-1 top-[18px] w-[26px] h-4">
                            <span class="font-inter text-[9px] font-bold leading-4 tracking-[0.144px] text-white uppercase">
                                ${file.type}
                            </span>
                                </div>
                            </div>
                            <div class="flex flex-col justify-center items-start">
                                <div class="font-poppins text-base font-normal leading-6 tracking-[-0.176px] text-gray-900">
                                    ${file.name}
                                </div>
                                <div class="font-poppins text-sm font-normal leading-6 tracking-[-0.084px] text-[#5A5A78]">
                                    ${file.size} • Downloaded ${file.timeAgo}
                                </div>
                            </div>
                        </div>
                        <button onclick="removeFile('${file.id}')" class="w-6 h-6 text-black/80 hover:text-red-600 transition-colors">
                            <svg class="w-6 h-6" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 6H5H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10 11V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14 11V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>

                    <div class="openGlossary add-glossary-btn flex px-2.5 py-2 justify-center items-center rounded-full border border-black/10 cursor-pointer transition-colors hover:bg-black/5">
                        {% include 'svg/icons/plus.svg' %}
                        <div class="flex px-2 justify-center items-start">
                            <span class="font-poppins text-sm font-semibold leading-6 tracking-[-0.084px] text-gray-900">
                                {% trans 'Add a lexicon' %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab Content: Information -->
            <div id="step2-tab-no-lexicon-content" class="tab-content py-2">
                <div class="flex flex-col items-center justify-center">
                    {% include 'svg/icons/folder.svg' %}
                    <p>{% trans 'You have chosen to use no lexicon' %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
