<style>
    * {
        font-family: Arial, sans-serif;
        font-size: 10px;
        color: #0F3144;
    }
</style>
Cher {{ username }}<br><br>
Vous trouverez en pièce-jointe notre offre pour la relecture de votre document par un expert.<br><br>
Si les délais proposés ne vous conviennent pas, n'hésitez pas à me le faire savoir de façon à me permettre de vous renvoyer une proposition adéquate. <br><br>
Pour toute question que vous pourriez avoir sur cette proposition, n’hésitez pas à répondre à ce mail directement.
<br><br>
<img width="500" height="160" src="https://s3fileprocessinglogos.s3.eu-north-1.amazonaws.com/lexa_banner.jpg" alt="banner">