{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}

{% block object-tools-items %}
<li>
    <a href="#" id="manual-renewal-btn" class="addlink" title="Execute manual subscription renewal task">
        Manual Renewal
    </a>
</li>
<li>
    <a href="#" id="metered-subscription-btn" class="addlink" title="Configurer un abonnement API metered">
        Metered Subscription
    </a>
</li>
{{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'usersubscription/css/usersubscription_admin_base.css' %}">
<link rel="stylesheet" href="{% static 'usersubscription/css/manual_renewal.css' %}">
<link rel="stylesheet" href="{% static 'usersubscription/css/metered_admin.css' %}">
{% endblock %}

{% block content %}
{{ block.super }}

{% include "admin/subscriptions/usersubscription/_manual_renewal_modal.html" %}

{% include "admin/subscriptions/usersubscription/_metered_modal.html" %}

<script src="{% static 'usersubscription/js/manual_renewal.js' %}"></script>
<script src="{% static 'usersubscription/js/metered_admin.js' %}"></script>
{% endblock %}
