{% load static %}
{% load i18n %}

<form name="change-user-data" method="post" class="w-full">
    {% csrf_token %}

    <!-- Form Fields -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
        <!-- First Name -->
        {% include 'profile_details/profile_information_input.html' with field_id='first_name' field_label='First Name' field_type='text' field_name='first_name' field_value=request.user.first_name|default:'' %}

        <!-- Last Name -->
        {% include 'profile_details/profile_information_input.html' with field_id='last_name' field_label='Last Name' field_type='text' field_name='last_name' field_value=request.user.last_name|default:'' %}

        <!-- Language -->
        {% include 'profile_details/profile_information_input.html' with field_id='language' field_label='Language' field_type='select' field_name='language' field_selected_value=request.LANGUAGE_CODE field_options=LANGUAGES %}
    </div>

    <!-- Email and Username Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
        <!-- Username -->
        {% include 'profile_details/profile_information_input.html' with field_id='username' field_label='Username' field_type='text' field_name='username' field_value=request.user.username %}

        <!-- Email -->
        {% include 'profile_details/profile_information_input.html' with field_id='email' field_label='Email' field_type='email' field_name='email' field_value=request.user.email %}
    </div>


    <!-- Save Button -->
    <div class="mt-6 w-full flex justify-end">
        <button
                type="submit"
                class="h-10 px-4 py-2 bg-green-800 hover:bg-green-600 text-white text-sm font-semibold rounded-full tracking-[-0.084px] leading-6 flex items-center gap-2 transition-colors">
            {% trans 'Update Information' %}
        </button>
    </div>
</form>
