{% load static %}
{% load i18n %}

<form name="change-user-data" method="post" class="profile-form">
    {% csrf_token %}

    <!-- Form Fields -->
    <div class="form-grid form-grid-3 section-spacing">
        <!-- First Name -->
        {% include 'profile_details/profile_information_input.html' with field_id='first_name' field_label='First Name' field_type='text' field_name='first_name' field_value=request.user.first_name|default:'' %}

        <!-- Last Name -->
        {% include 'profile_details/profile_information_input.html' with field_id='last_name' field_label='Last Name' field_type='text' field_name='last_name' field_value=request.user.last_name|default:'' %}

        <!-- Language -->
        {% include 'profile_details/profile_information_input.html' with field_id='language' field_label='Language' field_type='select' field_name='language' field_selected_value=request.user.language field_options=LANGUAGES %}
    </div>

    <!-- Email and Username Section -->
    <div class="form-grid form-grid-2 section-spacing">
        <!-- Username -->
        {% include 'profile_details/profile_information_input.html' with field_id='username' field_label='Username' field_type='text' field_name='username' field_value=request.user.username %}

        <!-- Email -->
        {% include 'profile_details/profile_information_input.html' with field_id='email' field_label='Email' field_type='email' field_name='email' field_value=request.user.email %}
    </div>


    <!-- Save Button -->
    <div class="actions-row end actions-spacing">
        <button type="submit" class="btn btn-primary-solid">
            {% trans 'Update Information' %}
        </button>
    </div>
</form>
