{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'legal/css/profile_details.css' %}">
{% endblock %}

{% block content %}
<div class="profile-details-page" data-change-url="{% url 'user' id=request.user.id %}">
    <!-- Header -->
    <div class="header-block">
        <h2 class="page-title">
            {% trans 'Profile Details' %}
        </h2>
        <div class="page-subtitle">
            {% trans 'Manage your account information and security settings.' %}
        </div>
    </div>

    <!-- Main tabs -->
    <div class="tabs-row">
        <div class="tabs-switch">
            <button type="button" id="profile-information" class="tab" aria-selected="true">
                <span>{% trans 'Information' %}</span>
            </button>
            <button type="button" id="profile-security" class="tab" aria-selected="false">
                <span>{% trans 'Security' %}</span>
            </button>
        </div>
    </div>

    <div class="content-card">
        <div class="content-card-body">
                <!--  ------------- TAB-1 -------------  -->
            <div id="profile-information-content" class="tab-content">
                    {% include 'profile_details/profile_information.html' %}
                </div>

                <!--  ------------- TAB-2 -------------  -->
                <div id="profile-security-content" class="tab-content hidden">
                    {% include 'profile_details/profile_security.html' %}
            </div>
        </div>
    </div>



    <!-- Success Update Modal -->
    {% include 'profile_details/profile_information_modal.html' %}


</div>

{% block extra_js %}
<script src="https://unpkg.com/@phosphor-icons/web"></script>
<script src="{% static 'legal/js/profile_details.js' %}"></script>
{% endblock %}

{% endblock %}