{% load static %}
{% load i18n %}

<div class="security-section">

    <!-- Change Password Section -->
    <div class="section-row">
        <div class="section-texts">
            <h3 class="section-title">
                {% trans 'Password' %}
            </h3>
            <p class="section-desc">
                {% trans 'Change your password.' %}
            </p>
        </div>
        <a href="{% url 'forgot-password' %}" class="btn btn-outline">
            <i class="ph ph-eye icon-24"></i>
            <span class="btn-label">
                    {% trans 'Change Password' %}
                </span>
        </a>
    </div>

    <!-- Logout Section -->
    <div class="section-row">
        <div class="section-texts">
            <h3 class="section-title">
                {% trans 'Logout' %}
            </h3>
            <p class="section-desc">
                {% trans 'Sign out of your account.' %}
            </p>
        </div>
        <button type="button" id="logout-btn" class="btn btn-outline">
            <i class="ph ph-sign-out icon-24"></i>
            <span class="btn-label">
                {% trans 'Logout' %}
            </span>
        </button>
    </div>

</div>


