{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="mx-5 mb-11.5 mt-5">
    <h2 class="text-2xl mb-2 font-poppins font-semibold">{% trans 'Glossary' %}</h2>
    <div class="text-base font-poppins font-normal">{% trans 'Find all your personal glossaries' %}</div>

    <div class="rounded-md px-5 pt-5 mt-5 w-full h-full flex flex-col items-end bg-white">
        <div class="flex w-full items-center my-5">
            <div class="flex w-full items-center justify-end gap-4 mb-6">
                <button
                        type="button" id="openModal" class="text-white text-sm flex h-10 px-2.5 py-2 justify-center items-center rounded-full bg-green-800 hover:bg-green-600 transition-colors">
                     <i class="ph ph-folder-plus mr-2" style="font-size: 20px;"></i>
                     {% trans 'Add glossary' %}
                </button>
            </div>

        </div>




        <div class="flex flex-col items-center justify-start w-full">
            <div class="w-full flex flex-row bg-blue-50 border-b-0.25 border-gray-100">
                <div class="text-base px-8 h-12 flex flex-row items-center justify-start w-200 overflow-hidden whitespace-nowrap">
                    <i class="ph ph-books mr-1 flex-shrink-0"></i>
                    <span class="truncate">{% trans 'File name' %}</span>
                </div>
                <div class="text-base text-[#5a5a78] h-12 flex flex-row items-center justify-start w-200 overflow-hidden whitespace-nowrap">
                    <i class="ph ph-megaphone mr-1 flex-shrink-0"></i>
                    <span class="truncate">{% trans 'Original languages' %}</span>
                </div>
                <div class="text-base text-[#5a5a78] h-12 flex flex-row items-center justify-start w-200 overflow-hidden whitespace-nowrap">
                    <i class="ph ph-megaphone mr-1 flex-shrink-0"></i>
                    <span class="truncate">{% trans 'Traduction languages' %}</span>
                </div>
                <div class="text-base text-[#5a5a78] h-12 flex flex-row items-center justify-start w-140 overflow-hidden whitespace-nowrap">
                    <i class="ph ph-calendar-blank mr-1 flex-shrink-0"></i>
                    <span class="truncate">{% trans 'Creation date' %}</span>
                </div>
                <div class="text-base text-[#5a5a78] h-12 flex flex-row flex-grow justify-center items-center w-full overflow-hidden whitespace-nowrap">
                    <i class="ph ph-wrench mr-1 flex-shrink-0"></i>
                    <span class="truncate">{% trans 'Actions' %}</span>
                </div>
            </div>

            {% if glossaries %}
            {% for glossary in glossaries %}

            <div class="w-full flex flex-row border-b-0.25 border-gray-100 h-16 justify-center items-center glossary-row">
                <div class="text-sm text-[#5a5a78] h-12 flex flex-row items-center pl-8 w-200">
                    <span class="md:w-60 2xl:w-80 w-max truncate">{{ glossary.name }}</span>
                </div>
                <div class="flex justify-start w-200 pr-8">
                    {{ glossary.source_language }}
                </div>
                <div class="flex justify-start text-base text-[#5a5a78] h-12 flex flex-row items-center w-200">
                    {{ glossary.target_language }}
                </div>
                <div class="text-base text-[#5a5a78] h-12 flex flex-row justify-start items-center px-8 w-140">
                    {{ glossary.created_at | date:"d/m/Y" }}
                </div>
                <div class="text-base text-[#5a5a78] h-12 flex flex-row flex-grow justify-center items-center px-8 w-full">
                    <div class="flex justify-center gap-1">
                        <!-- Mail Write Button -->
                        <button class="p-1">
                            <i class="ph ph-pencil-simple text-black/80 text-lg"></i>
                        </button>

                        <!-- Download Button -->
                        <a href="{{ glossary.file_url }}" download="{{ glossary.name }}.csv" class="p-1 inline-flex items-center justify-center" title="Télécharger {{ glossary.name }}">
                            <i class="ph ph-download text-black/80 text-lg"></i>
                        </a>

                        <!-- Delete Button -->
                        <button type="button" class="delete-project"
                                data-delete-url="{% url 'single_glossary' glossary.id %}">
                            <div class="relative group">
                                <i class="ph ph-trash text-red-500" style="font-size: 16px;"></i>
                                <div class="tooltip invisible opacity-0 transition-opacity duration-300 absolute z-10 w-auto py-2 px-2 bg-white text-black text-2.75 rounded-md bottom-14 left-1/2 transform -translate-x-1/2 translate-y-full shadow-lg">
                                    <div class="flex items-center gap-1.5">
                                        <i class="ph-fill ph-check-circle allow-delete" style="font-size: 14px; color: #00BBA7;"></i>
                                        <i class="ph-fill ph-x-circle cancel-delete" style="font-size: 14px; color: #FD625E;"></i>
                                    </div>
                                    <div class="absolute w-3 h-3 bg-white transform rotate-45 left-1/2 -translate-x-1/2 -bottom-1.5 shadow-lg"></div>
                                </div>
                            </div>
                        </button>

                    </div>
                </div>
            </div>

            {% endfor %}
            {% endif %}

        </div>

    </div>
    <div id="modal" class="fixed inset-0 bg-black/50 flex items-center justify-center p-4 z-50 hidden">
        <div class="bg-white rounded-md flex flex-col gap-6 p-6 pb-8 w-3/4 max-h-[90vh] sm:p-8 sm:pb-8">
            <!-- Header -->
            <div class="flex justify-between items-center">
                <div class="flex items-center gap-2 pl-4">
                    <!-- Glossary Icon -->
                    <i class="ph ph-books text-black/80" style="font-size: 24px;"></i>
                    <h1 class="font-poppins text-2xl font-bold text-gray-900 leading-8 tracking-[-0.456px]">
                        {% trans 'Add glossary' %}
                    </h1>
                </div>
                <button
                        type="button"
                        id="closeIcon"
                        class="flex items-center justify-center p-2 rounded-lg hover:bg-gray-100 transition-colors"
                        aria-label="Close modal"
                >
                    <!-- X Icon -->
                    <i class="ph ph-x text-black/80" style="font-size: 24px;"></i>
                </button>
            </div>

            <form class="p-12.5 flex flex-col items-center gap-7.5">
                <div class="flex w-full justify-between">
                    <div class="flex flex-col gap-2.5 ">
                        <span>{% trans 'Source language' %}</span>
                        <select class="glossary-language-source glossary-language-select" name="source_language"
                                required>
                            <option value="" disabled selected>{% trans 'Source language' %}</option>
                            {% for translate_language in translate_languages %}
                            <option value="{{ translate_language.abbreviation|lower }}">
                                {% if request.LANGUAGE_CODE == 'fr' and translate_language.french_name %}
                                {{ translate_language.french_name }}
                                {% else %} {{ translate_language.name }}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flex flex-col gap-2.5">
                        <span>{% trans 'Target language' %}</span>
                        <select class="glossary-language-target glossary-language-select" name="target_language"
                                required>
                            <option value="" disabled selected>{% trans 'Source language' %}</option>
                            {% for translate_language in translate_languages %}
                            <option value="{{ translate_language.abbreviation|lower }}">
                                {% if request.LANGUAGE_CODE == 'fr' and translate_language.french_name %}
                                {{ translate_language.french_name }}
                                {% else %} {{ translate_language.name }}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="glossary-container bg-gray-25 w-full py-5 rounded-md">

                    <div id="uploadButtons" class="flex flex-col gap-2.5 items-center">
                        <button type="button" id="uploadButton"
                                class="text-white text-sm flex h-10 px-4 py-2 justify-center items-center rounded-full bg-green-800 hover:bg-green-600 transition-colors">
                                <i class="ph ph-plus mr-2" style="font-size: 20px;"></i>
                            {% trans 'Upload file' %}
                        </button>
                        <div id="fileInfo"
                             class="max-w-50.5 hidden flex gap-4 items-center justify-between px-4 py-3 rounded-md bg-green-100 text-white w-full">

                            <span id="fileName" class="flex-grow truncate"></span>
                            <button type="button" class="remove-file">
                                <i class="ph ph-x-circle" style="font-size: 20px; color: #176C77;"></i>
                            </button>
                        </div>
                        <a href="{% static 'Gloss_en-de.csv' %}" type="button" id="downloadSample"
                           class="text-green-800 text-sm flex h-10 px-2.5 py-2 justify-center items-center rounded-full bg-white border border-gray-200 transition-colors">
                            <i class="ph ph-download mr-2" style="font-size: 20px;"></i>
                            {% trans 'Download sample' %}
                        </a>
                        <p class="text-3.5 text-gray-400">{% trans 'Supported Files: .csv, .xlsx max 5mb' %}</p>
                    </div>
                </div>
                <ul class="list-disc">
                    <li>{% trans "The first row of the file should start with the language (i.e: French or FR)" %}</li>
                    <li>{% trans "Your file should not include any comments" %}</li>
                    <li>{% trans "Your file should have only 2 columns" %}</li>
                    <li>{% trans "Your file should include only one entry per each source text (no duplicates are allowed)" %}</li>
                    <li>{% trans "Your file must not contain empty lines, empty sources or empty targets" %}</li>
                    <li>{% trans "Entries must not have leading or trailing empty spaces" %}</li>
                    <li>{% trans "Table formatting is not allowed, only plain text" %}</li>
                    <li>{% trans "Commas are not allowed" %}</li>
                </ul>
                <div class="flex justify-between w-full items-center">
                    <button type="button" id="closeModal"
                            class="text-gray-600 text-sm flex h-10 px-4 py-2 justify-center items-center rounded-full border border-gray-300 hover:bg-gray-50 transition-colors">
                        {% trans 'Cancel' %}
                    </button>
                    <button type="submit" id="continueButton"
                            class="text-white text-sm flex h-10 px-4 py-2 justify-center items-center rounded-full bg-green-800 hover:bg-green-600 transition-colors create-glossary">
                        {% trans 'Continue' %}
                        <i class="ph ph-arrow-right ml-2"></i>
                    </button>
                </div>
            </form>

            <input type="file" class="hidden glossary-file" accept=".csv, .xlsx">
        </div>
    </div>
    <div id="edit-modal"
         class="fixed inset-0 bg-gray-500 bg-opacity-50 overflow-y-auto h-full w-full hidden flex items-center justify-center">
        <div class="relative bg-white rounded-lg shadow-xl max-w-172.5 w-full mx-4">
            <div class="absolute -top-4.5 -right-4.5 -mr-4 -mt-4 z-10">
                <button type="button" id="close-edit-modal"
                        class="p-2 text-gray-500 hover:text-gray-900 focus:outline-none">
                    <i class="ph ph-x" style="font-size: 20px; color: white;"></i>
                </button>
            </div>

            <form class="p-12.5 flex flex-col items-center gap-7.5">
                <div class="text-5">Edit Name Glossary</div>
                <input
                        type="text"
                        class="w-full bg-gray-125 px-2.5 py-4 rounded text-black border-none"
                        placeholder="name"
                >
                <button type="submit" id="edit-glossary"
                        class="bg-gray-600 px-6.5 py-1 rounded font-semibold text-4 text-white">
                    {% trans 'Continue' %}
                </button>
            </form>

        </div>
    </div>
</div>

<script src="{% static 'js/glossaries.js' %}"></script>
<script>
    let get_domains = "{% url 'get_domains' %}"
    let add_glossary = "{% url 'add_glossary' %}"
</script>
{% endblock %}
