{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="mx-5 mb-11.5">
    <div class="flex justify-end items-center my-5">
        <div class="flex justify-between gap-5 items-center text-xs leading-4.5 text-left text-gray-475">
            <div class="relative inline-block">
                <button id="multiLevelDropdownButton" data-dropdown-toggle="multi-dropdown" type="button"
                        class="flex items-center px-1.5 py-2.25 gap-1.5 rounded-2.5 bg-gray-600">
                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-1">
                        <path d="M13.4798 0.5H0.574219C0.272156 0.5 0.0273438 0.744812 0.0273438 1.04688C0.0273438 2.56979 0.680176 4.02371 1.81847 5.03554L4.2135 7.16429C4.62879 7.53343 4.86698 8.06386 4.86698 8.6196V13.9525C4.86698 14.3883 5.35404 14.6495 5.71709 14.4074L8.94355 12.2565C9.09565 12.1551 9.18708 11.9844 9.18708 11.8015V8.6196C9.18708 8.06386 9.42527 7.53343 9.84055 7.16429L12.2355 5.03554C13.3738 4.02371 14.0266 2.56979 14.0266 1.04688C14.0266 0.744812 13.7818 0.5 13.4798 0.5ZM11.5088 4.218L9.11391 6.34686C8.46535 6.92343 8.09333 7.75176 8.09333 8.61949V11.5089L5.96062 12.9306V8.6196C5.96062 7.75176 5.58859 6.92343 4.94003 6.34686L2.54511 4.21811C1.77756 3.53569 1.28761 2.60066 1.15645 1.59364H12.8975C12.7663 2.60066 12.2765 3.53569 11.5088 4.218Z" fill="#FFFFFF" />
                    </svg>
                    <span id="filter-button" class="flex items-center text-white gap-1.5">{% trans 'Filter' %}</span>
                </button>

                <!-- Dropdown -->
                <div id="multi-dropdown" class="hidden z-10 bg-white divide-y divide-gray-100 rounded-md shadow w-60 shadow-[0px_0px_20px_3px_#2B445914] absolute mt-4 right-0">
                        <ul class="max-h-125 overflow-y-auto py-2 text-3.5 text-gray-550" aria-labelledby="multiLevelDropdownButton">
                                {% if request.user.is_staff or is_group_admin %}
                            <li class="dropdown-item">
                                <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown" data-dropdown-placement="right-start" type="button"
                                        class="flex items-center justify-between w-full px-4 py-2 text-black">{% trans 'User' %}
                                    <svg id="dropdownArrow" class="w-2.5 h-1.5 text-black origin-center transition duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                                    </svg>
                                </button>
                                <div id="dropdownSearch" class="hidden overflow-hidden transition-all duration-300">
                                    <div class="px-3">
                                        <label for="input-user-search" class="sr-only">Search</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3">
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.1068 14.0475L12.6745 11.6152C13.4117 10.6501 13.816 9.47965 13.8161 8.24451C13.8161 6.75604 13.2364 5.35657 12.1837 4.30408C11.1313 3.25159 9.73196 2.67188 8.24332 2.67188C6.75485 2.67188 5.35538 3.25159 4.30289 4.30408C2.13016 6.47699 2.13016 10.0124 4.30289 12.1849C5.35538 13.2376 6.75485 13.8173 8.24332 13.8173C9.47845 13.8172 10.649 13.4129 11.614 12.6757L14.0463 15.108C14.1926 15.2545 14.3847 15.3278 14.5766 15.3278C14.7685 15.3278 14.9605 15.2545 15.1068 15.108C15.3998 14.8152 15.3998 14.3403 15.1068 14.0475ZM5.36343 11.1244C3.77554 9.5365 3.77573 6.9527 5.36343 5.36462C6.13266 4.59558 7.15549 4.17188 8.24332 4.17188C9.33133 4.17188 10.354 4.59558 11.1232 5.36462C11.8924 6.13385 12.3161 7.15668 12.3161 8.24451C12.3161 9.33252 11.8924 10.3552 11.1232 11.1244C10.354 11.8936 9.33133 12.3173 8.24332 12.3173C7.15549 12.3173 6.13266 11.8936 5.36343 11.1244Z" fill="#2B4459" />
                                                </svg>
                                            </div>
                                            <input type="text" id="input-user-search" placeholder="Start typing..."
                                                   class="block w-full py-2.5 px-3 ps-10 text-3.5 text-black border border-gray-75 rounded-2 placeholder:text-gray-225 font-normal">
                                        </div>
                                    </div>
                                    <ul id="user-list" class="cursor-pointer max-h-40 px-3 overflow-y-auto text-sm text-gray-550 divide-y divide-gray-75" aria-labelledby="dropdownSearchButton">
                                        {% for user in stats.filters.users %}
                                        <li class="checkbox-item flex items-center ps-2 cursor-pointer">
                                                <input type="checkbox" value="{{ user }}" data-category="user"
                                                       class="cursor-pointer flex items-center justify-center w-4.5 h-4 bg-transparent text-transparent bg-gray-100 border border-gray-550 focus:ring-gray-425 appearance-none checked:bg-transparent checked:border-gray-550 checked:after:text-black checked:after:text-sm">
                                                <label class="cursor-pointer w-full py-2.5 ms-2 text-sm text-gray-900 rounded">{{ user }}</label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-item">
                                {% if request.user.is_staff %}
                                <button id="doubleDropdownButtonn" data-dropdown-toggle="doubleDropdown" data-dropdown-placement="right-start" type="button"
                                        class="flex items-center justify-between w-full px-4 py-2 text-black">{% trans 'Group' %}
                                    <svg id="dropdownArroww" class="w-2.5 h-1.5 text-black origin-center transition duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                                    </svg>
                                </button>
                                <div id="dropdownSearchh" class="hidden overflow-hidden transition-all duration-300">
                                    <div class="px-3">
                                        <label for="input-user-search" class="sr-only">Search</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3">
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.1068 14.0475L12.6745 11.6152C13.4117 10.6501 13.816 9.47965 13.8161 8.24451C13.8161 6.75604 13.2364 5.35657 12.1837 4.30408C11.1313 3.25159 9.73196 2.67188 8.24332 2.67188C6.75485 2.67188 5.35538 3.25159 4.30289 4.30408C2.13016 6.47699 2.13016 10.0124 4.30289 12.1849C5.35538 13.2376 6.75485 13.8173 8.24332 13.8173C9.47845 13.8172 10.649 13.4129 11.614 12.6757L14.0463 15.108C14.1926 15.2545 14.3847 15.3278 14.5766 15.3278C14.7685 15.3278 14.9605 15.2545 15.1068 15.108C15.3998 14.8152 15.3998 14.3403 15.1068 14.0475ZM5.36343 11.1244C3.77554 9.5365 3.77573 6.9527 5.36343 5.36462C6.13266 4.59558 7.15549 4.17188 8.24332 4.17188C9.33133 4.17188 10.354 4.59558 11.1232 5.36462C11.8924 6.13385 12.3161 7.15668 12.3161 8.24451C12.3161 9.33252 11.8924 10.3552 11.1232 11.1244C10.354 11.8936 9.33133 12.3173 8.24332 12.3173C7.15549 12.3173 6.13266 11.8936 5.36343 11.1244Z" fill="#2B4459" />
                                                </svg>
                                            </div>
                                            <input type="text" id="input-group-search" placeholder="Start typing..."
                                                   class="block w-full py-2.5 px-3 ps-10 text-3.5 text-black border border-gray-75 rounded-2 placeholder:text-gray-225 font-normal">
                                        </div>
                                    </div>
                                    <ul id="group-list" class="cursor-pointer max-h-40 px-3 overflow-y-auto text-sm text-gray-550 divide-y divide-gray-75" aria-labelledby="dropdownSearchButton">
                                        {% for group in stats.filters.groups %}
                                        <li class="checkbox-item flex items-center ps-2 cursor-pointer">
                                            <input type="checkbox" value="{{ group }}" data-category="group"
                                                   class="cursor-pointer flex items-center justify-center w-4.5 h-4 bg-transparent text-transparent bg-gray-100 border border-gray-550 focus:ring-gray-425 appearance-none checked:bg-transparent checked:border-gray-550 checked:after:text-black checked:after:text-sm">
                                            <label class="cursor-pointer w-full py-2.5 ms-2 text-sm text-gray-900 rounded">{{ group }}</label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                {% endif %}
                            </li>
                            <li class="dropdown-item">
                                <button id="doubleDropdownButtonnn" data-dropdown-toggle="doubleDropdown" data-dropdown-placement="right-start" type="button"
                                        class="flex items-center justify-between w-full px-4 py-2 text-black">{% trans 'File name' %}
                                    <svg id="dropdownArrowww" class="w-2.5 h-1.5 text-black origin-center transition duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                                    </svg>
                                </button>
                                <div id="dropdownSearchhh" class="hidden overflow-hidden transition-all duration-300">
                                    <div class="px-3">
                                        <label for="input-user-search" class="sr-only">Search</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3">
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.1068 14.0475L12.6745 11.6152C13.4117 10.6501 13.816 9.47965 13.8161 8.24451C13.8161 6.75604 13.2364 5.35657 12.1837 4.30408C11.1313 3.25159 9.73196 2.67188 8.24332 2.67188C6.75485 2.67188 5.35538 3.25159 4.30289 4.30408C2.13016 6.47699 2.13016 10.0124 4.30289 12.1849C5.35538 13.2376 6.75485 13.8173 8.24332 13.8173C9.47845 13.8172 10.649 13.4129 11.614 12.6757L14.0463 15.108C14.1926 15.2545 14.3847 15.3278 14.5766 15.3278C14.7685 15.3278 14.9605 15.2545 15.1068 15.108C15.3998 14.8152 15.3998 14.3403 15.1068 14.0475ZM5.36343 11.1244C3.77554 9.5365 3.77573 6.9527 5.36343 5.36462C6.13266 4.59558 7.15549 4.17188 8.24332 4.17188C9.33133 4.17188 10.354 4.59558 11.1232 5.36462C11.8924 6.13385 12.3161 7.15668 12.3161 8.24451C12.3161 9.33252 11.8924 10.3552 11.1232 11.1244C10.354 11.8936 9.33133 12.3173 8.24332 12.3173C7.15549 12.3173 6.13266 11.8936 5.36343 11.1244Z" fill="#2B4459" />
                                                </svg>
                                            </div>
                                            <input type="text" id="input-file-search" placeholder="Start typing..."
                                                   class="block w-full py-2.5 px-3 ps-10 text-3.5 text-black border border-gray-75 rounded-2 placeholder:text-gray-225 font-normal">
                                        </div>
                                    </div>
                                    <ul id="file-list" class="cursor-pointer max-h-40 px-3 overflow-y-auto text-sm text-gray-550 divide-y divide-gray-75" aria-labelledby="dropdownSearchButton">
                                        {% for file_name in stats.filters.file_name %}
                                        <li class="checkbox-item flex items-center ps-2 cursor-pointer">
                                            <input type="checkbox" value="{{ file_name }}" data-category="file_name"
                                                   class="cursor-pointer flex items-center justify-center w-4.5 h-4 bg-transparent text-transparent bg-gray-100 border border-gray-550 focus:ring-gray-425 appearance-none checked:bg-transparent checked:border-gray-550 checked:after:text-black checked:after:text-sm">
                                            <label class="cursor-pointer w-full py-2.5 ms-2 text-sm text-gray-900 rounded">{{ file_name }}</label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <div class="flex space-x-2 pt-3">
                                <button type="button" id="clear-button" class="h-9.25 w-24.75 px-5 py-2 bg-white border border-gray-600 rounded-md text-gray-600 ml-4">{% trans 'Clear' %}</button>
                                <button type="button" id="apply-button" class="h-9.25 w-24.75 bg-gray-600 px-4 py-2 rounded-md text-white">{% trans 'Apply' %}</button>
                            </div>
                        </ul>
                </div>
            </div>


            <div class="flex justify-between items-center">
                <svg class="mr-2.5 cursor-pointer" id="prev-button" width="10" height="11" viewBox="0 0 10 11" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1514_7479)">
                        <path
                            d="M2.2862 4.78962C2.33642 4.73904 2.39202 4.69635 2.44978 4.65922L6.32569 0.783488C6.70398 0.405564 7.31705 0.405385 7.69551 0.783667C8.07379 1.16177 8.07379 1.77502 7.69551 2.15348L4.35733 5.4913L7.71237 8.8467C8.09083 9.22462 8.09083 9.83805 7.71237 10.2165C7.52314 10.4054 7.27543 10.4999 7.02773 10.4999C6.78003 10.4999 6.53178 10.4054 6.34309 10.2162L2.44978 6.32338C2.39202 6.28625 2.3366 6.24374 2.2862 6.19298C2.09248 5.99926 1.99957 5.74492 2.00387 5.4913C1.99939 5.2375 2.09248 4.9828 2.2862 4.78962Z"
                            fill="#212121" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1514_7479">
                            <rect width="10" height="10" fill="white" transform="matrix(-1 0 0 1 10 0.5)" />
                        </clipPath>
                    </defs>
                </svg>

                <div class="relative">
                    <div class="calendar cursor-pointer">
                        <label id="selected-date-from" class="text-3 text-gray-475 cursor-pointer"></label>
                        <label id="selected-date-to" class="text-3 text-gray-475 cursor-pointer"></label>
                    </div>

                    <div id="datepicker" class="hidden absolute top-full -right-5 mt-5 rounded-5 shadow-[0_0_15px_rgba(0,0,0,0.1)] px-4 py-4 min-w-86.75 max-w-86.75 bg-white">
                        <div class="flex gap-2 mb-4 w-full">
                            <div class="flex-1 flex-col relative">
                                <input disabled type="text" id="fromDate" class="w-full text-3.5 text-center border border-gray-375 rounded-4 py-3 font-normal text-gray-575 disabled:bg-white" placeholder="DD/MM/YYYY" pattern="\d{2}/\d{2}/\d{4}">
                                <span class="absolute bg-white text-2.5 px-1 font-normal -top-2 left-4">From</span>
                            </div>
                            <div class="flex-1 flex-col relative">
                                <input disabled type="text" id="toDate" class="w-full text-3.5 border text-center border-gray-375 rounded-4 py-3 font-normal text-gray-575 disabled:bg-white" placeholder="DD/MM/YYYY" pattern="\d{2}/\d{2}/\d{4}">
                                <span class="absolute bg-white text-2.5 px-1 font-normal -top-2 left-4">To</span>
                            </div>
                        </div>
                        <div class="flex justify-between items-center mb-4">
                            <div class="flex items-center gap-2.5">
                                <span id="currentMonth" class="text-gray-575 text-4 font-semibold min-w-23"></span>
                                <div class="flex flex-col gap-1">
                                    <button type="button" id="prevMonth">
                                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.12457 5.35656C9.45001 5.03112 9.45001 4.50349 9.12457 4.17805L5.58904 0.642515C5.2636 0.317078 4.73597 0.317078 4.41053 0.642515L0.874996 4.17805C0.549559 4.50349 0.549559 5.03112 0.874996 5.35656C1.20043 5.682 1.72807 5.682 2.05351 5.35656L4.99979 2.41028L7.94606 5.35656C8.2715 5.682 8.79914 5.682 9.12457 5.35656Z" fill="#2B4459"/>
                                        </svg>
                                    </button>
                                    <button type="button" id="nextMonth">
                                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.875425 0.643439C0.549988 0.968876 0.549988 1.49651 0.875425 1.82195L4.41096 5.35748C4.7364 5.68292 5.26403 5.68292 5.58947 5.35748L9.125 1.82195C9.45044 1.49651 9.45044 0.968876 9.125 0.643439C8.79957 0.318002 8.27193 0.318002 7.94649 0.643439L5.00021 3.58972L2.05394 0.643439C1.7285 0.318002 1.20086 0.318002 0.875425 0.643439Z" fill="#2B4459"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="flex items-center gap-2.5">
                                <span id="currentYear" class="text-gray-575 text-4 font-semibold"></span>
                                <div class="flex flex-col gap-1">
                                    <button type="button" id="prevYear">
                                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.12457 5.35656C9.45001 5.03112 9.45001 4.50349 9.12457 4.17805L5.58904 0.642515C5.2636 0.317078 4.73597 0.317078 4.41053 0.642515L0.874996 4.17805C0.549559 4.50349 0.549559 5.03112 0.874996 5.35656C1.20043 5.682 1.72807 5.682 2.05351 5.35656L4.99979 2.41028L7.94606 5.35656C8.2715 5.682 8.79914 5.682 9.12457 5.35656Z" fill="#2B4459"/>
                                        </svg>
                                    </button>
                                    <button type="button" id="nextYear">
                                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.875425 0.643439C0.549988 0.968876 0.549988 1.49651 0.875425 1.82195L4.41096 5.35748C4.7364 5.68292 5.26403 5.68292 5.58947 5.35748L9.125 1.82195C9.45044 1.49651 9.45044 0.968876 9.125 0.643439C8.79957 0.318002 8.27193 0.318002 7.94649 0.643439L5.00021 3.58972L2.05394 0.643439C1.7285 0.318002 1.20086 0.318002 0.875425 0.643439Z" fill="#2B4459"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between gap-1.25 pb-4 mb-2.5 sticky top-0 bg-white z-10 text-gray-375 text-3.5 border-b border-gray-250">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div id="calendarContainer" class="overflow-y-auto h-100">
                            <div id="calendarContent"></div>
                        </div>
                    </div>
                </div>

                <svg class="ml-2.5 cursor-pointer" id="next-button" width="10" height="11" viewBox="0 0 10 11" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1514_7483)">
                        <path
                            d="M7.7138 4.78962C7.66358 4.73904 7.60798 4.69635 7.55022 4.65922L3.67431 0.783488C3.29602 0.405564 2.68295 0.405385 2.30449 0.783667C1.92621 1.16177 1.92621 1.77502 2.30449 2.15348L5.64267 5.4913L2.28763 8.8467C1.90917 9.22462 1.90917 9.83805 2.28763 10.2165C2.47686 10.4054 2.72457 10.4999 2.97227 10.4999C3.21997 10.4999 3.46822 10.4054 3.65691 10.2162L7.55022 6.32338C7.60798 6.28625 7.6634 6.24374 7.7138 6.19298C7.90752 5.99926 8.00043 5.74492 7.99613 5.4913C8.00061 5.2375 7.90752 4.9828 7.7138 4.78962Z"
                            fill="#212121" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1514_7483">
                            <rect width="10" height="10" fill="white" transform="translate(0 0.5)" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <label id="selected-items" class="display flex mr-2 text-gray-550 hidden mb-5"></label>

    <div class="shadow-[0_0_15px_rgba(0,0,0,0.1)] rounded-md flex flex-col items-end px-5 pt-5 w-full h-full bg-white">
        <table id="sorting" class="border-collapse w-full border-separate border-spacing-y-5">
            <thead>
                <tr class="border-gray-425">
                    {% if request.user.is_staff or is_group_admin %}
                    <th class="text-4 text-gray-600 font-semibold text-left border-b pb-5 user-row">
                        <div class="flex items-center gap-1 w-auto cursor-pointer">
                            {% trans 'User' %} <img src="{% static 'images/ico-arrow.svg' %}" alt="arrow">
                        </div>
                    </th>
                    {% if request.user.is_staff %}
                    <th class="text-4 text-gray-600 font-semibold text-left border-b pb-5">
                        <div class="flex items-center gap-1 w-auto cursor-pointer">
                            {% trans 'Group' %} <img src="{% static 'images/ico-arrow.svg' %}" alt="arrow">
                        </div>
                    </th>
                    {% endif %}
                    {% endif %}
                    <th class="text-4 text-gray-600 font-semibold text-left border-b pb-5">
                        <div class="flex items-center gap-1 w-auto cursor-pointer">
                            {% trans 'File name' %} <img src="{% static 'images/ico-arrow.svg' %}" alt="arrow">
                        </div>
                    </th>
                    <th class="text-4 text-gray-600 font-semibold text-left border-b pb-5">
                        <div class="flex items-center gap-1 w-auto cursor-pointer">
                            {% trans 'Words' %} <img src="{% static 'images/ico-arrow.svg' %}" alt="arrow">
                        </div>
                    </th>
                    <th class="text-4 text-gray-600 font-semibold text-left border-b pb-5">
                        <div class="flex items-center gap-1 w-auto cursor-pointer">
                            {% trans 'Tokens' %} <img src="{% static 'images/ico-arrow.svg' %}" alt="arrow">
                        </div>
                    </th>
                    <th class="text-4 text-gray-600 font-semibold text-left border-b pb-5">
                        <div class="flex items-center gap-1 w-auto cursor-pointer">
                            {% trans 'Out tokens' %} <img src="{% static 'images/ico-arrow.svg' %}" alt="arrow">
                        </div>
                    </th>
                    <th class="text-4 text-gray-600 font-semibold text-left w-1 border-b pb-5">
                        <div class="flex items-center gap-1 w-auto cursor-pointer">
                            {% trans 'Date' %} <img src="{% static 'images/ico-arrow.svg' %}" alt="arrow">
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if stats.results %}
                {% for stat in stats.results %}
                <tr>
                    {% if request.user.is_staff or is_group_admin %}
                    <td class="text-3.25 text-gray-600">
                        {{ stat.user }}
                    </td>
                    {% if request.user.is_staff %}
                    <td class="text-3.25 text-gray-600">
                        {{ stat.group }}
                    </td>
                    {% endif %}

                    {% endif %}
                    <td class="text-3.25 text-gray-600">
                        {{ stat.file_name }}
                    </td>
                    <td class="text-3.25 text-gray-600">
                        {{ stat.metadata.words_count }}
                    </td>
                    <td class="text-3.25 text-gray-600">
                        {{ stat.tokens_count }}
                    </td>
                    <td class="text-3.25 text-gray-600">
                        {{ stat.tokens_out_count }}
                    </td>
                    <td class="text-3.25 text-gray-600">
                        {{ stat.created_at | date:"d/m/Y" }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7" class="text-center py-8 text-gray-425">
                        <div class="flex flex-col items-center justify-center">
                            <p class="text-5 text-gray-600 font-semibold">{% trans 'No data available' %}</p>
                            <p class="text-3.25 text-gray-600 mt-1.25">{% trans 'There are currently no statistic to display.' %}</p>
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
    {% if stats.count < stats.page_size %}
    <div class="py-12.5 flex w-full items-center justify-end">
        <div class="flex items-center border rounded-2.5 border-gray-225 px-2 py-2.25 text-4 gap-2.5 justify-self-end">
            <div class="flex items-center gap-1">
                <div class="text-green-400">{{ stats.total_count.chars }}</div>
                <div class="text-gray-400">{% trans 'total characters' %}</div>
            </div>
            <span class="text-green-400">|</span>
            <div class="flex items-center gap-1">
                <div class="text-green-400">{{ stats.total_count.tokens }}</div>
                <div class="text-gray-400">{% trans 'total tokens' %}</div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="py-12.5 grid grid-cols-3 items-center">
        <div></div>
        <div class="pagination flex justify-center items-center w-full gap-18 hidden"
             data-total-items="{{ stats.count }}"
             data-items-per-page="{{ stats.page_size }}"
             data-current-page="{{ stats.current_page }}">
            <a href="#" id="prev-page" class="flex items-center gap-2.5 text-3.25 text-gray-600">
                <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.286074 4.78962C0.336297 4.73904 0.3919 4.69635 0.449656 4.65922L4.32557 0.783488C4.70385 0.405564 5.31693 0.405385 5.69539 0.783667C6.07367 1.16177 6.07367 1.77502 5.69539 2.15348L2.35721 5.4913L5.71225 8.8467C6.09071 9.22462 6.09071 9.83805 5.71225 10.2165C5.52302 10.4054 5.27531 10.4999 5.02761 10.4999C4.7799 10.4999 4.53166 10.4054 4.34297 10.2162L0.449656 6.32338C0.3919 6.28625 0.336476 6.24374 0.286074 6.19298C0.0923591 5.99926 -0.000552654 5.74492 0.00375223 5.4913C-0.000731945 5.2375 0.0923591 4.9828 0.286074 4.78962Z"
                          fill="currentColor"/>
                </svg>
                {% trans 'Prev' %}
            </a>
            <div id="page-numbers" class="flex space-x-3.5 text-3.25 items-end">
                <!-- Page numbers will be inserted here dynamically -->
            </div>
            <a href="#" id="next-page" class="flex items-center gap-2.5 text-3.25 text-gray-600">
                {% trans 'Next' %}
                <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.71393 4.78962C5.6637 4.73904 5.6081 4.69635 5.55034 4.65922L1.67443 0.783488C1.29615 0.405564 0.683075 0.405385 0.304613 0.783667C-0.0736695 1.16177 -0.0736695 1.77502 0.304613 2.15348L3.64279 5.4913L0.287753 8.8467C-0.0907092 9.22462 -0.0907092 9.83805 0.287753 10.2165C0.476983 10.4054 0.724687 10.4999 0.972392 10.4999C1.2201 10.4999 1.46834 10.4054 1.65703 10.2162L5.55034 6.32338C5.6081 6.28625 5.66352 6.24374 5.71393 6.19298C5.90764 5.99926 6.00055 5.74492 5.99625 5.4913C6.00073 5.2375 5.90764 4.9828 5.71393 4.78962Z"
                          fill="currentColor"/>
                </svg>
            </a>
        </div>
        <div class="flex items-center border rounded-2.5 border-gray-225 px-2 py-2.25 text-4 gap-2.5 justify-self-end">
            <div class="flex items-center gap-1">
                <div class="text-green-400">{{ stats.total_count.words }}</div>
                <div class="text-gray-400">{% trans 'total words' %}</div>
            </div>
            <div class="flex items-center gap-1">
                <div class="text-green-400">{{ stats.total_count.chars }}</div>
                <div class="text-gray-400">{% trans 'total characters' %}</div>
            </div>
            <span class="text-green-400">|</span>
            <div class="flex items-center gap-1">
                <div class="text-green-400">{{ stats.total_count.tokens }}</div>
                <div class="text-gray-400">{% trans 'total tokens' %}</div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block extra_js %}
{% load static %}

<script src="{% static 'js/usage-history.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script>
    var language_code = "{{ request.LANGUAGE_CODE }}"
</script>

{% endblock extra_js %}
