<div style="width: 100%; max-width: 355px;">
    <p>Dear {{ user_name}},</p>
    <p>{{ sender_username }} has sent this document for translation.</p>
    {% if source_file_url  %}
        <p style="padding: 30px 0; text-align: center">
            <a style="padding: 10px 26px;background: #176C77;text-decoration: unset;text-align: center;border-radius: 4px; color: white;font-size: 16px;font-weight: 600;line-height: 20px;" href="{{ source_file_url }}" download>Download</a>
        </p>
    {% endif %}
    {% if translation_name %}<p>Template used: {{ translation_name }}</p>{% endif %}
    {% if file_ext %}<p>Format of the submitted file: {{file_ext }} </p>{% endif %}
    <p>Thank you and kind regards</p>
    <p>Legal 230 Portal</p>
</div>